<!DOCTYPE html>
<html>
    <head>
        <?php $title = '用户登录 - 每日论点•iDizcuz'; ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" href="/static/account/css/account.css" />
    </head>
    <body>
        <div id="idizcuz">
            <div class="scroll-bg boxes">
                <div class="inner">
                    <div class="account-form-area">
                        <div class="logo-text brand">iDizcuz</div>
                        <form class="signin sign">
                            <div class="line">
                                <input type="text" class="email" placeholder="邮箱" />
                            </div>
                            <div class="line">
                                <input type="password" class="passwd" placeholder="密码" />
                                <a href="/forget" class="redirect forget"><em>忘记密码？</em></a>
                            </div>
                            <div class="line">
                                <p class="tip"></p>
                            </div>
                            <div class="line">
                                <input type="submit" class="btns larger signin-btn" value="登录" />
                            </div>
                            <p>没有<em class="brand">iDizcuz</em>帐号？点击<a href="/signup" class="redirect">注册</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var idizcuz = new J();
            idizcuz.mount( 'signin', '/static/account/packages/Signin/bootstrap.js', {} );
        </script>
        <?php include TPL_PATH . '/common/foot.inc.html'; ?>
    </body>
</html>
