<!DOCTYPE html>
<html>
    <head>
        <?php include TPL_PATH . '/commonMobile/head.inc.html'; ?>
        <link rel="stylesheet" href="/static/userMobile/css/user.css?_t=1444539864691" />
        <link rel="stylesheet" href="/static/commonMobile/css/post.css?_t=1444539864691" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/commonMobile/top.inc.html'; ?>
            <?php include TPL_PATH . '/commonMobile/nav.inc.html'; ?>
            <?php if( !$account ) { ?>
                <?php include TPL_PATH . '/accountMobile/signin.inc.html'; ?>
            <?php } ?>
            <?php include TPL_PATH . '/userMobile/card.inc.html'; ?>
            <?php include TPL_PATH . '/userMobile/subnav.inc.html'; ?>
            <div class="boxes">
                <ul class="activity-list"></ul>
                <div class="btns load-more">点击加载更多</div>
            </div>
            <div class="boxes bottom-fixed-bar">
                <a href="http://www.idizcuz.com" class="logo l">每日论点 • iDizcuz</a>
                <a href="###" class="item scroll-top"><i class="fa fa-eject"></i></a>
            </div>
            <?php include TPL_PATH . '/commonMobile/foot.inc.html'; ?>
        </div>
        <textarea class="templates" id="activity-list-tpl">
            <% if( !data.length ) { %>
                <li class="empty">暂时没有用户动态</li>
            <% } else { %>
                <% var txts = { 
                    '0' : '发布了新的论述', 
                    '1' : '支持了论述',
                    '2' : '反对了论述',
                    '3' : '评论了论述',
                    '5' : '加入了 每日论点 • iDizcuz'
                }; %>
                <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                    <% var item = data[i], type = item.type; %>
                    <li class="activities">
                        <div class="hline clearfix">
                            <span class="date r"><%=item.ctime.substr(0,10) %></span>
                            <a href="/user/activities/<%=item.account_id %>"><%-item.account.uname %></a>
                            <% if( type == 4 ) {%>
                                关注了 
                                <% if( item.extra.isself ) { %>
                                    <span>我</span>
                                <% } else { %>
                                    <a href="/user/activities/<%=item.extra.id %>"><%-item.extra.uname %></a>
                                <% } %>
                            <% } else { %>
                                <%=txts[type] %>
                            <% } %>
                        </div>
                        <div class="extra">
                            <% if( type == 0 || type == 1 || type == 2 ) { %>
                                <% var post = item.extra; %>
                                <% if( !post ) { %>
                                    <p class="empty">此论述不存在或已经被删除</p>
                                <% } else { %>
                                    <?php include TPL_PATH . '/commonMobile/post.inc.html'; ?>
                                <% } %>
                            <% } else if( type == 3 ) {%>
                                <% var comment = item.extra; %>
                                <div class="extra-comments">
                                    <p>
                                        <b class="gruy-title">评论内容：</b>
                                        <i class="fa fa-quote-left fa-quotes"></i> 
                                        <%-comment.content %>
                                        <i class="fa fa-quote-right fa-quotes"></i> 
                                    </p>
                                </div>
                                <% if( comment.post ) { %>
                                    <div class="relation_post">
                                        <p><b class="gruy-title">论述：</b><a href="/post/<%=comment.post.id %>"><%-comment.post.title %></a></p>
                                    </div>
                                <% } %>
                            <% } else if( type == 4 || type == 5 ) {%>
                                <% var card = item.extra; %>
                                <?php include TPL_PATH . '/commonMobile/hcard.inc.html'; ?>
                            <% } %>
                        </div>
                    </li>
                <% } %>
            <% } %>
        </textarea>
        <textarea class="templates" id="comment-list-tpl">
            <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                <% var comment = data[i]; %>                
                <?php include TPL_PATH . '/commonMobile/comment.inc.html'; ?>
            <% } %>
        </textarea>
        <script>
            var idizcuz = new J();
            idizcuz.mount( 'activities', '/static/userMobile/packages/Activities/bootstrap.js?_t=1444539864658', {
                accountId : '<?php echo $account['id']; ?>',
                userId : '<?php echo $user['id']; ?>',
                self : +'<?php echo $account['id'] == $user['id'] ? 1 : 0; ?>'
            } );
            idizcuz.mount( 'postoperate', '/static/commonMobile/packages/PostOperate/bootstrap.js?_t=1444539864658', {
                signin : +'<?php echo $account ? 1 : 0; ?>'
            } );
            idizcuz.mount( 'comments', '/static/commonMobile/packages/Comments/bootstrap.js?_t=1444539864658', {
                signin : +'<?php echo $account ? 1 : 0; ?>'
            } );
            idizcuz.mount( 'follow', '/static/commonMobile/packages/Follow/bootstrap.js?_t=1444539864658', {
                signin : +'<?php echo $account ? 1 : 0; ?>'
            } );
            idizcuz.mount( 'bottomfixedbar', '/static/commonMobile/packages/BottomFixedBar/bootstrap.js?_t=1444539864658', {
                start : 500 
            } );
        </script>
        <?php include TPL_PATH . '/commonMobile/end.inc.html'; ?>
    </body>
</html>
