<div class="user boxes">
    <?php if( $user['img'] ) { ?>
        <a href="/user/activities/<?php echo $user['id']; ?>" class="avatar radius" style="background-image:url(http://avatar.idizcuzz.com/<?php echo $user['img']; ?>)"></a>
    <?php } else { ?>
        <a href="/user/activities/<?php echo $user['id']; ?>" class="avatar radius"></a>
    <?php } ?>
    <p class="lines">
        <a href="/user/activities/<?php echo $user['id']; ?>">
            <?php echo htmlspecialchars( $user['uname'] ); ?>
        </a>
    </p>
    <?php if( !$self ) { ?>
        <div class="lines">
            <?php if( $followed ) { ?>
                <a href="###" class="btns dark unfollow" data-account-id="<?php echo $user['id']; ?>">取消关注</a>
            <?php } else { ?>
                <a href="###" class="btns follow" data-account-id="<?php echo $user['id']; ?>">关 注</a>
            <?php } ?>
        </div>
    <?php } ?>
    <div class="lines">
        <?php if( $user['industry'] != 0 ) { ?>
            <span><?php echo $user['industry']; ?> 行业</span>
        <?php } else { ?>
            <span class="unknown">未知 行业</span>
        <?php } ?>
        •  
        <?php if( $user['employment'] ) { ?>
            <span><?php echo $user['employment']; ?></span>
        <?php } else { ?>
            <span class="unknown"> 未知组织</span>
        <?php } ?>
        •   
        <?php if( $user['position'] ) { ?>
            <span><?php echo $user['position']; ?></span>
        <?php } else { ?>
            <span class="unknown">未知职位</span>
        <?php } ?>
    </div>
    <div class="lines num-part clearfix">
        <a href="/user/posts/<?php echo $user['id']; ?>" class="piece">
            <b class="num"><?php echo $user['data']['post_cnt']; ?></b>
            <span>论述</span>
        </a>
        <a href="/user/follow/<?php echo $user['id']; ?>" class="piece">
            <b class="num"><?php echo $user['data']['follow']; ?></b>
            <span>关注</span>
        </a>
        <a href="/user/fans/<?php echo $user['id']; ?>" class="piece">
            <b class="num"><?php echo $user['data']['fans']; ?></b>
            <span>粉丝</span>
        </a>
        <span class="piece">
            <b class="num"><?php echo $user['data']['agree']; ?></b>
            <span>支持</span>
        </span>
        <span class="piece">
            <b class="num"><?php echo $user['data']['disagree']; ?></b>
            <span>反对</span>
        </span>
    </div>
</div>
