<div class="sub-nav boxes">
    <?php $id = $user['id']; ?>
    <ul class="clearfix">
        <li><a href="/user/activities/<?php echo $id; ?>" <?php if( $page == 'activities' ) { echo 'class="focus"'; } ?>>动态</a></li>
        <li><a href="/user/posts/<?php echo $id; ?>" <?php if( $page == 'posts' ) { echo 'class="focus"'; } ?>>论述</a></li>
        <li><a href="/user/mark/<?php echo $id; ?>" <?php if( $page == 'mark' ) { echo 'class="focus"'; } ?>>收藏</a></li>
        <li><a href="/user/follow/<?php echo $id; ?>" <?php if( $page == 'follow' ) { echo 'class="focus"'; } ?>>关注</a></li>
        <li><a href="/user/fans/<?php echo $id; ?>" <?php if( $page == 'fans' ) { echo 'class="focus"'; } ?>>粉丝</a></li>
    </ul>
</div>
