<!DOCTYPE html>
<html>
    <head>
        <?php 
            $title = '';
        ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/message/css/messages.css?_t=1441209319937" />
    </head>
    <body>
        <div id="idizcuz" data-account-id="<?php echo $user['id']; ?>">
            <?php include TPL_PATH . '/common/top.inc.html'; ?>
            <div class="boxes body">
                <div class="inner clearfix">
                    <div class="sidebar aside">
                    </div>
                    <div class="content-box main">
                        <ul class="message-list"></ul>
                        <div class="load-more">
                            <span>加载更多消息 <i class="fa fa-angle-double-down"></i></span>
                        </div>
                    </div>
                </div> 
            </div>
            <?php include TPL_PATH . '/common/foot.inc.html'; ?>
        </div>
        <textarea class="templates" id="message-list-tpl">
            <% if( !data.length ) { %>
                <li class="empty">这里暂时没有消息</li>
            <% } else { %>
                <% for( var i = 0, l = data.length; i < l; i += 1 ) { var msg = data[i]; %>
                    <li id="message-<%=msg.id %>" class="message-item">
                        <div class="top-line">
                            <b><%=msg.ctime.substr( 0, 10 ) %></b>
                        </div>
                        <div class="title-line">
                            <a href="/user/activities/<%=msg.from.id %>"><%-msg.from.uname %></a> <%=msg.title %>
                        </div>
                        <% if( msg.content.length ) { %>
                            <div class="content">
                                <i class="fa fa-quote-left"></i>
                                <%-msg.content %>
                                <i class="fa fa-quote-right"></i>
                            </div>
                        <% } %>
                    </li>
                <% } %>
            <% } %>
        </textarea>
        <script>
            var idizcuz = new J();
            idizcuz.mount( 'message', '/static/message/packages/Message/bootstrap.js?_t=1441209319908', {} );
            idizcuz.mount( 'follow', '/static/common/packages/Follow/bootstrap.js?_t=1441209319908', {} );
        </script>
        <?php include TPL_PATH . '/common/end.inc.html'; ?>
    </body>
</html>
