<!DOCTYPE html>
<html>
    <head>
        <?php include TPL_PATH . '/commonMobile/head.inc.html'; ?>
        <link rel="stylesheet" href="/static/errorMobile/css/error.css?_t=1444332133366" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/commonMobile/top.inc.html'; ?>
            <?php include TPL_PATH . '/commonMobile/nav.inc.html'; ?>
            <div class="boxes">
                <div class="page-not-found">
                    <b class="code">404</b> 
                    <p class="txt">页面不存在</p>
                    <p>
                        <a href="/">回到首页</a>
                        <span>-</span>
                        <a href="/list">访问动态页面</a>
                    </p>
                </div>
            </div>
            <?php include TPL_PATH . '/commonMobile/foot.inc.html'; ?>
        </div>
        <?php include TPL_PATH . '/commonMobile/end.inc.html'; ?>
    </body>
</html>
