<meta charset="utf-8" />
<meta http-equiv="Cache-control" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta content="telephone=no" name="format-detection" />
<meta content="address=no" name="format-detection" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>每日论点 • iDizcuz</title>
<link rel="stylesheet" href="/static/commonMobile/css/base.css?_t=1444846761976" />
<link rel="stylesheet" href="/static/commonMobile/css/common.css?_t=1444846761976" />
<link rel="stylesheet" href="/static/common/css/font-awesome.css?_t=1444846761976" />
<link rel="shortcut icon" href="/static/common/images/favicon.ico?_t=1444846761976" type="image/x-icon">
<link rel="icon" href="/static/common/images/favicon.ico?_t=1444846761976" type="image/x-icon">
<link rel="bookmark" href="/static/common/images/favicon.ico?_t=1444846761976" type="image/x-icon">
<script src="/static/commonMobile/js/zeptoi.js?_t=1444846761976"></script>
<script src="/static/common/js/jSwitch.js?_t=1444846761976"></script>
