<% var postUrl = '/post/' + post.id; %>
<div class="posts clearfix" data-post-id="<%=post.id %>" data-is-own="<%=post.own %>">
    <div class="aside">
        <div class="op-item">
            <span class="op-btn btns agree" data-action="vote" data-intent="1" data-need-signin="1">
                <b><%=post.data.agree %></b>
                <span>支持</span>
            </span>
            <div class="bubbles small left">
                <div class="triangle"><div class="triangle"></div></div>
                <div class="inner"><p class="txt"></p></div>
            </div>
        </div>
        <div class="op-item">
            <span class="op-btn btns disagree" data-action="vote" data-intent="0" data-need-signin="1">
                <b><%=post.data.disagree %></b>
                <span>反对</span>
            </span>
            <div class="bubbles small left">
                <div class="triangle"><div class="triangle"></div></div>
                <div class="inner"><p class="txt"></p></div>
            </div>
        </div>
        <div class="op-item">
            <span class="op-btn btns dark" data-action="share">分享</span>
        </div>
        <% if( post.own != 1 ) { %>
            <div class="op-item">
                <span class="op-btn btns <% if( post.mark != 1 ) { %>dark<% } %>" data-marked="<%-post.mark %>" data-action="mark" data-need-signin="1">收藏</span>
                <div class="bubbles small left mark-bubbles">
                    <div class="triangle"><div class="triangle"></div></div>
                    <div class="inner"><p class="txt"></p></div>
                </div>
            </div>
        <% } %>
        <div class="op-item">
            <a href="/write?post_id=<%=post.id %>" class="op-btn btns dark" data-action="to">针对</a>
        </div>
    </div>
    <div class="main">
        <h2><a href="/post/<%=post.id %>"><%-post.title %></a></h2>
        <div class="info">
            <div class="clearfix">
                <span class="aside">作者：</span>
                <a href="/user/activities/<%=post.account_id %>" class="main">
                    <%-post.account.uname %>
                    <%-post.account.desc %>
                </a>
            </div>
            <% if( post.topic ) { %>
                <div class="clearfix">
                    <span class="aside">话题：</span>
                    <a href="/topic/<%=post.topic.id %>" class="main" >
                        <%-post.topic.title %>
                    </a>
                </div>
            <% } %>
            <% if( post.point ) {%>
                <div class="clearfix">
                    <span class="aside">观点：</span>
                    <span class="main"><%-post.point.title %></span>
                </div>
            <% } %>
            <% if( post.to != 0 ) { %>
                <div class="clearfix">
                    <span class="aside">针对：</span>
                    <a href="/post/<%-post.to.id %>" class="main"><%-post.to.title %></a>
                </div>
            <% } %>
            <div class="clearfix">
                <span class="aside">发表：</span>
                <span class="main"><%=post.ctime.substr(0,10) %></span>
            </div>
        </div>
        <div class="contents rich-text">
            <p><%=post.content %></p>
        </div>
        <div class="bottom-line">
            <a href="javascript:void(0)" class="comments" data-cursor="0">
                论述有 <%-post.data.comments_cnt %> 条短评
            </a>
        </div>
    </div>
    <div class="comment-box">
        <ul class="comment-list"></ul>
        <div class="btns load-more">点击加载更多短评</div>
        <ul class="new-comment-list"></ul>
        <% if( !J.Data.get( 'account.signin' ) ) { %>
            <div class="not-signin">
                <a href="#">登录后可以发布短评</a>
                <span class="sp">|</span>
                <a href="/signup">注册</a>
            </div>
        <% } else { %>
            <form class="comment-form">
                <textarea class="content" placeholder="输入短评内容">&lt;/textarea>
                <div class="btns-line">
                    <span class="hide btns dark small l">收起短评</span>
                    <a href="###" class="clear">清空</a>
                    <input type="submit" class="btns submit small" value="发布" />
                </div>
            </form>
        <% } %>
    </div>
</div>
