<div class="top boxes">
    <?php if( $account ) { ?>
        <div class="account">
            <?php if( $account['data']['unread_msg'] > 0 ) { ?>
                <span class="msg-cnt"><?php echo $account['data']['unread_msg']; ?></span>
            <?php } ?>
            <ul>
                <li>
                    <a href="###"> 
                        <?php
                            $avatar = $account['img'] ? 'http://avatar.idizcuzz.com/' . $account['img'] : '/static/common/images/avatar.png?_t=1439571944293';
                        ?>
                        <span class="avatar smaller radius" style="background-image:url(<?php echo $avatar; ?>)"></span>
                    </a>
                    <ul>
                        <li><a href="/user/activities/<?php echo $account['id']; ?>">主页</a></li>
                        <li><a href="/messages">消息</a><?php if( $account['data']['unread_msg'] > 0 ) { ?><b class="dot"></b><?php } ?></li>
                        <li><a href="/settings">设置</a></li>
                        <li><a href="/signout">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    <?php } else { ?>
        <a href="/signup" class="r">注册</a>
    <?php } ?>
    <div class="logo-text brand">每日论点 • iDizcuz</div>
</div>
