<!DOCTYPE html>
<html>
    <head>
        <?php 
            $title = '';
        ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/settings/css/settings.css" />
        <link rel="stylesheet" type="text/css" href="/static/settings/css/info.css" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/common/top.inc.html'; ?>
            <?php include TPL_PATH . '/settings/nav.inc.html'; ?>
            <div class="boxes">
                <div class="inner">
                    <form class="info-form">
                        <div class="parts clearfix">
                            <div class="s-title l">
                                <span>头像</span>
                            </div>
                            <div class="s-main l clearfix">
                                <img src="/static/common/images/thinker.png" class="avatar"/>
                                <div class="upload-btn">
                                    <a href="###" class="btns file">选择头像</a>
                                    <input type="file" class="real-file-btn" />
                                    <p>请上传小于2M的JPG或PNG图片</p>
                                </div>
                            </div>
                        </div>
                        <div class="parts clearfix">
                            <div class="s-title l">
                                <span>性别</span>
                            </div>
                            <div class="s-main l clearfix sex-area">
                                <label>
                                    <input type="radio" value="1" name="sex"> 男
                                </label>
                                <label>
                                    <input type="radio" value="0" name="sex"> 女
                                </label>
                            </div>
                        </div>
                        <div class="parts clearfix">
                            <div class="s-title l">
                                <span>所在行业</span>
                            </div>
                            <div class="s-main l">
                                <div class="industries-selection select-helper"><select class="industries">
                                        <option value="0">选择行业</option>
                                    </select></div>
                            </div>
                        </div>
                        <div class="parts clearfix">
                            <div class="s-title l">
                                <span>目前情况</span>
                            </div>
                            <div class="s-main l">
                                <input type="text" class="employment" placeholder="公司/学校/机构等" /> 
                                <input type="text" class="small position" placeholder="职位" />
                            </div>
                        </div>
                        <div class="parts clearfix">
                            <div class="s-title l">
                                <span>个人简介</span>
                            </div>
                            <div class="s-main l">
                                <textarea class="desc"></textarea>
                            </div>
                        </div>
                        <div class="parts clearfix">
                            <div class="s-title l">&nbsp;</div>
                            <div class="s-main l">
                                <a href="###" class="btns">提交</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
