<div class="sub-nav clearfix">
    <ul class="nav clearfix">
        <li>
            <a href="/settings/page/info" class="<?php if( $page == 'info' ) echo 'focus'; ?>">个人信息</a>
        </li>
        <li>
            <a href="/settings/page/passwd" class="<?php if( $page == 'passwd' ) echo 'focus'; ?>">密码</a>
        </li>
        <li>
            <a href="/settings/page/notification" class="<?php if( $page == 'notification' ) echo 'focus'; ?>">消息</a>
        </li>
        <li>
            <a href="/settings/page/mail" class="<?php if( $page == 'mail' ) echo 'focus'; ?>">邮件</a>
        </li>
    </ul>
</div>
