<!DOCTYPE html>
<html>
    <head>
        <?php 
            $title = '';
        ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/settings/css/passwd.css?_t=1439388115616" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/common/top.inc.html'; ?>
            <div class="boxes body">
                <div class="inner">
                    <div class="aside"></div>
                    <div class="main">
                        <?php include TPL_PATH . '/settings/nav.inc.html'; ?>

                    </div>
                </div>
            </div>
            <?php include TPL_PATH . '/common/foot.inc.html'; ?>
        </div>
        <?php include TPL_PATH . '/common/end.inc.html'; ?>
    </body>
</html>
