<!DOCTYPE html>
<html>
    <head>
        <?php 
            $title = '';
        ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/settings/css/settings.css" />
        <link rel="stylesheet" type="text/css" href="/static/settings/css/passwd.css" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/common/top.inc.html'; ?>
            <div class="boxes">
                <div class="inner clearfix">
                    <div class="main-area">
                        <?php include TPL_PATH . '/settings/nav.inc.html'; ?>

                    </div>
                    <div class="sidebar">
                    </div>
                </div>
            </div>
        </div>
        <?php include TPL_PATH . '/common/foot.inc.html'; ?>
    </body>
</html>
