<!DOCTYPE html>
<html>
    <head>
        <?php 
            $type_arr = array( '讨论', '辩论' );
            $title = '每日论点•iDizcuz';
            $nav = ( $cid == 1 ? 'focus' : 'list' );
        ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" href="/static/topic/css/list.css?_t=1443145394633" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/common/top.inc.html'; ?>
            <div class="boxes body">
                <div class="inner">
                    <div class="aside">
                        <?php if( $account ) { ?>
                            <?php include TPL_PATH . '/common/userpages.inc.html'; ?>
                        <?php } else { ?>
                            <?php include TPL_PATH . '/common/signin.inc.html'; ?>
                        <?php } ?>
                    </div>
                    <div class="list-area main">
                        <ul class="topic-list">
                            <?php foreach( $topics as $topic ) { ?>
                                <li class="topics">
                                    <h3>
                                        <span class="seal seal-<?php echo $topic['data']['type']; ?>"></span>
                                        <a href="/topic/<?php echo $topic['id']; ?>" target="_blank"><?php echo $topic['title']; ?></a>
                                    </h3>
                                    <p class="data">
                                        <span class="r">话题日期：<?php echo substr( $topic['ctime'], 0, -9 ); ?></span>
                                        <span class="">共有 <b class="brand"><?php echo $topic['data']['post_cnt']; ?></b> 条论述</span>
                                        <span class="cate">分类：<a href="/list/<?php echo $topic['data']['cid']; ?>"><?php echo $topic['data']['cate']; ?></a></span>
                                    </p>
                                    <div class="desc">
                                        <?php echo $topic['desc']; ?>
                                        <div class="bottom-line">
                                            <a href="###" class="show-more-info">[显示更多介绍]</a>
                                        </div>
                                    </div>
                                    <?php if( $topic['points'] ) { $points = $topic['points'];  ?>
                                        <div class="point-area">
                                            <ul class="clearfix">
                                                <?php $arr = ['一','二','三','四','五']; ?>
                                                <?php $i = 0; foreach( $points as $point ) { ?>
                                                    <li>
                                                        <div class="points">
                                                            <div class="point-data r">
                                                                <div class="base-data">
                                                                    <b class="triangle"><b class="triangle"></b></b>
                                                                    <span>论述 <b class="brand"><?php echo $point['data']['post_cnt']; ?></b></span>
                                                                    <span>支持 <b class="brand"><?php echo $point['data']['agree']; ?></b></span>
                                                                    <span>反对 <b class="brand"><?php echo $point['data']['disagree']; ?></b></span>
                                                                </div>
                                                                <span href="###" class="index">指数 <b class="brand"><?php echo $point['data']['index']; ?></b></span>
                                                            </div>
                                                            <div class="title">
                                                                <i class="fa fa-flag flag-<?php echo $i + 1; ?>"></i>
                                                                <span>观点<?php echo $arr[$i]; ?>：<?php echo $point['title']; ?></span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                <?php $i++; } ?>
                                            </ul>
                                            <ul class="clearfix split-point-list">
                                                <?php $i = 0; foreach( $points as $point ) { ?>
                                                    <li>
                                                        <div class="points ">
                                                            <div class="title">
                                                                <i class="fa fa-flag flag-<?php echo $i + 1; ?>"></i>
                                                                <span>观点<?php echo $arr[$i]; ?>：<?php echo $point['title']; ?></span>
                                                            </div>
                                                            <div class="point-data">
                                                                <span>论述 <b class="brand"><?php echo $point['data']['post_cnt']; ?></b></span>
                                                                <span>支持 <b class="brand"><?php echo $point['data']['agree']; ?></b></span>
                                                                <span>反对 <b class="brand"><?php echo $point['data']['disagree']; ?></b></span>
                                                                <span href="###" class="index">指数 <b class="brand"><?php echo $point['data']['index']; ?></b></span>
                                                            </div>

                                                        </div>
                                                    </li>
                                                <?php $i++; } ?>
                                            </ul>
                                        </div>
                                    <?php } ?>
                                    <div class="bottom">
                                        <a href="/topic/<?php echo $topic['id']; ?>" target="_blank">[ 点击打开话题页面 ]</a>
                                    </div>
                                </li>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
            </div>
            <?php include TPL_PATH . '/common/foot.inc.html'; ?>
        </div>
        <script>
            ( function() {
                $( '.topic-list' ).on( 'click', '.show-more-info', function( e ) {
                    e.preventDefault();
                    var el = $( this ).closest( 'li.topics' );
                    el.find( '.desc p' ).show();
                    el.find( '.bottom-line' ).hide();
                } );
            } )();
        </script>
        <?php include TPL_PATH . '/common/end.inc.html'; ?>
    </body>
</html>
