<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="/static/common/css/base.css" />
        <link rel="stylesheet" href="/static/common/css/common.css" />
        <link rel="stylesheet" href="/static/common/css/font-awesome.css" />
        <link rel="stylesheet" href="/static/topic/css/topic.css" />
        <link rel="stylesheet" href="/static/common/css/umeditor/default/css/umeditor.css" />
    </head>
    <body>
        <div id="idizcuz">
            <div class="boxes top">
                <div class="inner">
                    <?php if( $account ) { ?>
                    <ul class="account">
                        <li>
                            <a href="###"><?php echo $account[ 'uname' ]; ?></a>
                            <ul>
                                <li><a href="###"><i class="fa fa-user"></i>我的主页</a></li>
                                <li><a href="###">消息</a></li>
                                <li><a href="###">设置</a></li>
                                <li><a href="###">退出</a></li>
                            </ul>
                        </li>
                    </ul>
                    <?php } else { ?>
                    <div class="sign">
                        <a href="/account/page/signup">注册</a>
                        <span> | </span>
                        <a href="/account/page/signin">登录</a>
                    </div>
                    <?php } ?>
                    <a href="/" class="logo-text light">今日论点 • iDizcuz</a>
                </div>
            </div>
            <div class="boxes main">
                <div class="inner clearfix">
                    <div class="topic-area l">
                        <div class="title-line">
                            <div class="date-selector r">
                                <a href="###"><i class="fa fa-chevron-left"></i></a>
                                <a href="###" class="btns small">今日论点</a>
                                <a href="###"><i class="fa fa-chevron-right"></i></a>
                            </div>
                            <h1>讨论：如何看待乐嘉在节目中耍酒疯这件事？</h1>
                        </div>
                        <div class="point">
                                <p>作为公众人物，在如此的公开场合做出如此的不当的行为实数少见，网友对此事看法不一，那么你怎么看待公众人物的这种行为以及其带来的影响呢？</p>
                        </div>
                        <div class="detail-line clearfix">
                            <div class="media l">
                                <a href="http://www.iqiyi.com/v_19rroicb60.html?vfm=m_177_bdsx"><img src="/static/topic/images/topic.jpg" target="_blank" /></a>
                            </div>
                            <div class="desc">
                            <p>
7日晚，安徽卫视《超级演说家》节目在北京现场录制过程中，乐嘉为支持自己的残疾选手崔万志现场喝酒，结果醉酒后失控，满口爆粗TMD不断，导致金星、窦文涛等嘉宾齐齐离场，录制一度中止。在被问及三个人以后还会不会与乐嘉合作时候，金星直接表示，“以后谁还跟跟他合作啊？差点尿都吓出来了。”窦文涛则表示，“我跟他从没有过任何合作，也不认识”。
                            </p>
                            <p>
乐嘉表示，自己此刻站出来说话有三点原因：节目播出前直接发声会被认为是炒作；不想因为自己的回应导致人们听不见崔万志的最后的演讲；对解释很不屑，该懂你的自然会懂。乐嘉对现场事件也做出了回顾与描述，首先，酒是临时起意让助手买的，其次，喝酒总共两次。同时，对自己现场的粗鄙行为也做出了解释：“骂脏话、拍桌子、跺脚、上窜下跳，跪在地上，是我在所有地方做演讲时出现的常态，与我是否喝酒，毫无关系。的确，以上举动，很不优雅，毫不高级，卖相难看，太没修养，这些都对。然而，对我来讲，一个演讲如果只能在有风度和有影响力中二选其一，我会选后者。”
                                </p>
                            </div>
                        </div>
                        <div class="list-area">
                            <div class="operate-line clearfix">
                                <span class="count">本论点共 <i>2</i> 条讨论</span>
                                <ul class="r clearfix">
                                    <li><a href="###" class="focus">最新讨论</a></li>
                                    <li><a href="###">最多支持</a></li>
                                    <li><a href="###">最多反对</a></li>
                                </ul>  
                            </div>
                            <ul class="post-list">
                                <li class="posts">
                                    
                                    <div class="data-line clearfix">
                                        <div class="operates r">
                                            <a href="###" class="favo">收藏</a>
                                            <a href="###" class="share">分享</a>
                                            <a href="###" class="report">举报</a>
                                        </div>
                                        <div class="vote l">
                                            <a href="###" class="btns small support">支持(100)</a>
                                            <a href="###" class="btns small against">反对(10)</a>
                                        </div>
                                        <div class="title l">
                                            <h2>艺人的基本修养和所谓的『真性情』</h2>
                                            <a href="###" class="uname">作者：Mr.Lv 『互联网从业好几年』</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="contents">
                                        <p>艺人，作为公众人物，</p>
                                    </div>
                                </li>
                            </ul>
                            <div id="textbox" class="textbox">
                                <script type="text/plain" id="editor">
                                    <p>在此输入您想发表的内容</p>
                                </script>
                            </div>
                            <div class="submit-line">
                                <a href="###" class="btns large">发布观点</a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar r">
                    </div>
                </div>
            </div>
            <div class="footer boxes">
                <div class="inner">
                </div>
            </div>
        </div>
        <script src="/static/common/js/jquery.js"></script>
        <script src="/static/common/js/jSwitch.js"></script>
        <script src="/static/common/js/umeditor.config.js"></script>
        <script src="/static/common/js/umeditor.js"></script>
        <script>
            var um = UM.getEditor( 'editor' );
        </script>
    </body>
</html>
