<!DOCTYPE html>
<html>
    <head>
        <?php 
            $type_arr = array( '讨论', '辩论' );
            $title = $type_arr[ $topic[ 'type' ] ] . '：' . $topic[ 'title' ] . '- 每日论点 • iDizcuz';
        ?>
        <?php include TPL_PATH . 'common/head.inc.html'; ?>
        <link rel="stylesheet" href="/static/topic/css/topic.css" />
        <link rel="stylesheet" href="/static/common/css/umeditor/default/css/umeditor.css" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . 'common/top.inc.html'; ?>
            <div class="boxes main">
                <div class="inner clearfix">
                    <div class="topic-area l" data-topic-id="<?php echo $topic[ 'id' ]; ?>">
                        <div class="title-line">
                            <h1><?php echo $type_arr[ $topic[ 'type' ] ]; ?>：<?php echo $topic[ 'title' ]; ?></h1>
                            <p>
                                <a href="/topic/page/list" class="btns small dark r">更多论点</a>
                                <span>发布日期：2015-09-09</span>
                            </p>
                        </div>
                        <div class="desc">
                            <p><?php echo $topic[ 'desc' ]; ?></p>
                        </div>
                        <?php if( strlen( $topic[ 'events' ] ) > 0 ) { ?>
                            <div class="show-events" data-events-ids="<?php echo $topic['events']; ?>">
                                点击查看此论点相关内容和信息
                            </div>
                        <?php } ?>
                        <div class="events">
                            <div class="loading"></div>
                        </div>
                        <div class="list-area">
                            <div class="operate-line clearfix">
                                <span class="count">本论点共 <i>2</i> 条讨论</span>
                                <ul class="r clearfix">
                                    <li><a href="###" class="focus sort" data-order-type="0">最新讨论</a></li>
                                    <li><a href="###" class="sort" data-order="1">最多支持</a></li>
                                    <li><a href="###" class="sort" data-order="2" >最多反对</a></li>
                                </ul>  
                            </div>
                            <textarea class="templates" id="post-list-tpl">
                                <% if( !data.length ) { %>
                                    <div class="empty">此论点目前还没有论述，快发布您的论述，并分享给您的好友吧</div>
                                <% } else { %>
                                    <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                                        <li class="posts" data-post-id="<%=data[i].id %>">
                                            <div class="data-line clearfix">
                                                <div class="operates r">
                                                    <% var mark = +data[i].mark %>
                                                    <a href="###" class="op-btn op-<% if( mark ) { %>unmark<% } else { %>mark<% } %>" data-action="mark" data-mark-id="<%=mark %>">
                                                        <% if ( mark ) { %>
                                                            <i class="fa fa-star"></i> 取消收藏
                                                        <% } else { %>
                                                            <i class="fa fa-star-o"></i> 收藏
                                                        <% } %>
                                                    </a>
                                                    <a href="###" class="op-btn" data-action="share">分享</a>
                                                    <a href="###" class="op-btn" data-action="report">举报</a>
                                                </div>
                                                <div class="vote l">
                                                    <a href="###" class="op-btn btns small agree" data-action="agree" data-intent="1">支持(<b><%=data[i].data.agree %></b>)</a>
                                                    <a href="###" class="op-btn btns small disagree" data-action="agree" data-intent="0">反对(<b><%=data[i].data.disagree %></b>)</a>
                                                </div>
                                                <div class="title l">
                                                    <h2><%=data[i].title %></h2>
                                                    <a href="###" class="uname">作者： <%=data[i].account.uname %><%=data[i].account.desc %></a>
                                                </div>
                                            </div>
                                            <div class="bubbles op-bubbles">
                                                <a href="###" class="close"><i class="fa fa-times"></i></a>
                                                <div class="triangle"><div class="triangle"></div></div>
                                                <div class="inner">
                                                    <div class="mark box clearfix">
                                                        <p class="l">收藏成功！您可以在<a href="###">我的收藏</a>中查看。您也可以分享这条论述，让更多人参与讨论</p>
                                                        <div class="share-box l">
                                                            <a class="share-btns" data-dest="qzone"><i class="fa fa-qq"></i></a>
                                                            <a class="share-btns" data-dest="weibo"><i class="fa fa-weibo"></i></a>
                                                            <a class="share-btns" data-dest="renren"><i class="fa fa-renren"></i></a>
                                                            <a class="share-btns" data-dest="tx_weibo"><i class="fa fa-tencent-weibo"></i></a>
                                                            <a class="share-btns" data-dest="facebook"><i class="fa fa-facebook-official"></i></a>
                                                            <a class="share-btns" data-dest="twitter"><i class="fa fa-twitter"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="share box clearfix">
                                                        <div class="qrcode l">
                                                            <img src="http://img4.cache.netease.com/game/2014/6/27/20140627172239307b9.png" />
                                                        </div>
                                                        <div class="share-part l">
                                                            <div class="bdsharebuttonbox share-btn-boxes share-box" data-tag="share_1">
                                                                <a class="share-btns" data-dest="qzone"><i class="fa fa-qq"></i></a>
                                                                <a class="share-btns" data-dest="weibo"><i class="fa fa-weibo"></i></a>
                                                                <a class="share-btns" data-dest="renren"><i class="fa fa-renren"></i></a>
                                                                <a class="share-btns" data-dest="tx_weibo"><i class="fa fa-tencent-weibo"></i></a>
                                                                <a class="share-btns" data-dest="facebook"><i class="fa fa-facebook-official"></i></a>
                                                                <a class="share-btns" data-dest="twitter"><i class="fa fa-twitter"></i></a>
                                                            </div> 
                                                            <div class="share-link">
                                                                <div class="line clearfix">
                                                                    <span class="l">分享此条论述：</span>
                                                                    <a href="/topic?id=<?php echo $topic['id']; ?>&post=<%=data[i].id %>&fr=sharelink" target="_blank" class="link l">http://www.idizcuz.com/topic?id=<?php echo $topic['id']; ?>post=<%=data[i].id %>&fr=sharelink</a>
                                                                    <a href="###" class="btns l">复制链接</a>
                                                                </div>
                                                                <div class="line clearfix">
                                                                    <span class="l">分享当前论点：</span>
                                                                    <a href="/topic?id=<?php echo $topic['id']; ?>&fr=sharelink" target="_blank" class="link l">http://www.idizcuz.com/topic?id=<?php echo $topic['id']; ?>&fr=sharelink</a>
                                                                    <a href="###" class="btns l">复制链接</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="report box clearfix">
                                                        <div class="reasons l">
                                                            <?php foreach( $reportReasons as $key => $value ) { ?>
                                                                <label>
                                                                    <input type="radio" name="reasons-<%=data[i].id %>" value="<?php echo $key; ?>" />
                                                                    <span class="msg"><?php echo $value; ?></span>
                                                                </label>
                                                            <?php } ?>
                                                        </div>
                                                        <div class="l desc-area">
                                                            <textarea class="desc" placeholder="请对您举报的内容做简单描述，长度不可超过250字">&lt;/textarea>
                                                            <p class="brand alert">*  核实举报后此论述会被删除，作者将受到相关惩罚。恶意举报也将面对相关策略惩罚</p>
                                                            <div class="btn-line">
                                                                <span class="tip"></span>
                                                                <a href="###" class="btns report-submit">提交举报</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="contents">
                                                <p><%=data[i].content %></p>
                                            </div>
                                            <div class="bottom-line">
                                                <a href="###" class="reply r">回复这条论述</a>
                                                <span class="ctime">发表于：<%=data[i].ctime %></span>
                                                <% if( data[i].mtime != data[i].ctime ) { %>
                                                    <span class="mtime">修改于：<%=data[i].mtime %></span>
                                                <% } %>
                                                <a href="###" class="comments">100条短评</a>
                                            </div>
                                        </li>
                                    <% } %>
                                <% } %>
                            </textarea>
                            <textarea class="templates" id="new-post-tpl">
                                <li class="posts new-post" data-post-id="< %=data[i].id %>">
                                    <div class="data-line clearfix">
                                        <div class="operates r">
                                            <a href="###" class="op-btn" data-action="share">分享</a>
                                        </div>
                                        <div class="vote l">
                                            <a href="###" class="op-btn btns small agree" data-action="agree" data-intent="1">支持(<b>0</b>)</a>
                                            <a href="###" class="op-btn btns small disagree" data-action="agree" data-intent="0">反对(<b>0</b>)</a>
                                        </div>
                                        <div class="title l">
                                            <h2><%=data.title %></h2>
                                            <a href="###" class="uname">作者： <?php echo $account[ 'uname' ]; ?><?php echo $account[ 'desc' ]; ?></a>
                                        </div>
                                    </div>
                                    <div class="bubbles op-bubbles">
                                        <a href="###" class="close"><i class="fa fa-times"></i></a>
                                        <div class="triangle"><div class="triangle"></div></div>
                                        <div class="inner">
                                                <div class="share box clearfix">
                                                    <div class="qrcode l">
                                                        <img src="http://img4.cache.netease.com/game/2014/6/27/20140627172239307b9.png" />
                                                    </div>
                                                    <div class="share-part l">
                                                        <div class="share-btn-boxes share-box">
                                                            <span>将自己的论述分享给朋友：</span>
                                                            <a class="share-btns" data-dest="qzone"><i class="fa fa-qq"></i></a>
                                                            <a class="share-btns" data-dest="weibo"><i class="fa fa-weibo"></i></a>
                                                            <a class="share-btns" data-dest="renren"><i class="fa fa-renren"></i></a>
                                                            <a class="share-btns" data-dest="tx_weibo"><i class="fa fa-tencent-weibo"></i></a>
                                                            <a class="share-btns" data-dest="facebook"><i class="fa fa-facebook-official"></i></a>
                                                            <a class="share-btns" data-dest="twitter"><i class="fa fa-twitter"></i></a>
                                                        </div> 
                                                        <div class="share-link">
                                                            <div class="line clearfix">
                                                                <span class="l">分享此条论述：</span>
                                                                <a href="/topic?id=<?php echo $topic['id']; ?>&post=<%=data.id %>&fr=sharelink" target="_blank" class="link l">http://www.idizcuz.com/topic?id=<?php echo $topic['id']; ?>&post=<%=data.id %>&fr=sharelink</a>
                                                                <a href="###" class="btns l">复制链接</a>
                                                            </div>
                                                            <div class="line clearfix">
                                                                <span class="l">分享当前论点：</span>
                                                                <a href="/topic?id=<?php echo $topic['id']; ?>&fr=sharelink" target="_blank" class="link l">http://www.idizcuz.com/topic?id=<?php echo $topic['id']; ?>&fr=sharelink</a>
                                                                <a href="###" class="btns l">复制链接</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contents">
                                        <p><%=data.content %></p>
                                    </div>
                                    <div class="bottom-line">
                                        <a href="###" class="reply r">回复这条论述</a>
                                        <span class="ctime">发表于：<%=data.ctime %></span>
                                        <a href="###" class="comments">0条短评</a>
                                    </div>
                                </li>
                            </textarea>
                            <textarea class="templates" id="target-post-tpl">
                                <div class="target-post">
                                    <div class="post-detail">
                                    </div>
                                    <div class="bridge">
                                        以下为此论述所在的『论点』内容
                                        <a href="/topic?id=<?php echo $topic['id']; ?>" target="_blank">[ 单独打开论点 ]</a>
                                    </div>
                                </div>
                            </textarea>
                            <div class="loading list-top"></div>
                            <ul class="post-list"></ul>
                            <?php if( $account ) { ?>
                                <div id="textbox" class="textbox">
                                    <script type="text/plain" id="editor" class="editor">
                                        <p>在此输入您想发表的内容</p>
                                    </script>
                                </div>
                                <div class="submit-line clearfix">
                                    <p class="post-tip"></p>
                                    <p class="post-warn"></p>
                                    <a href="###" class="btns large public">发布观点</a>
                                </div>
                            <?php } else { ?>
                                <div id="textbox" class="textbox">
                                    <div class="not-login-editor">
                                        <p>请登录并发表您的观点
                                            <a href="/signin">登录</a>
                                            /
                                            <a href="/signup">注册</a>
                                        </p>
                                    </div>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                    <div class="sidebar r">
                        <?php if( $account ) { ?>
                            <div class="new-post">
                                <p>心理所想，不吐不快</p>
                                <a href="###" class="btns large">分享我的观点</a>
                            </div>
                        <?php } else { ?>
                            <div class="about-idizcuz">
                                <p>试着去成为一个理性且有思想的人<p>
                                <a href="/account/page/signup" class="btns large">加入每日论点 • iDizcuz</a>
                            </div>
                        <?php } ?>
                    </div>
                </div>
            </div>
            <div class="footer boxes">
                <div class="inner">
                </div>
            </div>
        </div>
        <textarea class="templates" id="events-list-tpl">
            <div class="nav-list">
                <a href="###" class="scroll scroll-right r" data-direction="right">
                    <i class="fa fa-chevron-right"></i>
                </a>
                <a href="###" class="scroll scroll-left l" data-direction="left">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <div class="list-area">
                    <ul class="clearfix" style="width:100px">
                        <% for( var i = 0, l = data.length; i < l; i++ ) { %>
                            <li>
                                <a href="###" title="" class="events-nav" data-event-id="<%=data[i].id %>">
                                    <img src="http://localhost:8004/static/topic/images/topic.jpg" />
                                </a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <div class="bubbles events-tip">
                <div class="triangle"><div class="triangle"></div></div>
                <div class="inner">
                    <p class="text"></p>
                </div>
            </div>
        </textarea>
        <textarea class="templates" id="event-content-tpl">
            <div class="event-content">
                <h4 class="title">房东加快速度发撒附件撒倒垃圾发撒</h4>
                <div class="clearfix">
                    <span class="origin">内容来自：<a href="http://www.baidu.com">百度新闻</a></span>
                    <span class="author">作者：彬•卿峰</span>
                    <span class="date">时间：2015-01-09</span>
                </div>
                <div class="event-text">
                    fjdljlsdajfdjfjafjsdlafj 房东撒娇考虑老地方看撒减法就房东撒娇了解发撒富士达拉近距离减肥大赛骄傲了
                    <p>房东激励撒娇房东就发</p>
                </div>
                <div class="event-info">
                </div>
            </div>
        </textarea>
        <script src="/static/common/js/umeditor.config.js"></script>
        <script src="/static/common/js/umeditor.js"></script>
        <script>
            var idizcuz = new J();
            idizcuz.mount( 'events', '/static/topic/packages/Events/bootstrap.js', {} );
            idizcuz.mount( 'editor', '/static/topic/packages/Editor/bootstrap.js', {} );
            idizcuz.mount( 'posts', '/static/topic/packages/Posts/bootstrap.js', {} );
            idizcuz.mount( 'share', '/static/topic/packages/Share/bootstrap.js', {} );

        </script>
    </body>
</html>
