<!DOCTYPE html>
<html>
    <head>
        <?php 
            $type_arr = array( '讨论', '辩论' );
            $title = $type_arr[ $topic[ 'type' ] ] . '：' . $topic[ 'title' ] . '- 每日论点 • iDizcuz';
        ?>
        <?php include TPL_PATH . 'common/head.inc.html'; ?>
        <link rel="stylesheet" href="/static/topic/css/topic.css" />
        <link rel="stylesheet" href="/static/common/css/umeditor/default/css/umeditor.css" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . 'common/top.inc.html'; ?>
            <div class="boxes main">
                <div class="inner clearfix">
                    <div class="topic-area l" data-topic-id="<?php echo $topic[ 'id' ]; ?>">
                        <div class="title-line">
                            <div class="date-selector r clearfix">
                                <a href="###"><i class="fa fa-chevron-left"></i></a>
                                <a href="###" class="btns small date">今日论点</a>
                                <a href="###"><i class="fa fa-chevron-right"></i></a>
                            </div>
                            <h1><?php echo $type_arr[ $topic[ 'type' ] ]; ?>：<?php echo $topic[ 'title' ]; ?></h1>
                        </div>
                        <div class="point">
                            <p><?php echo $topic[ 'desc' ]; ?></p>
                        </div>
                        <div class="detail-line clearfix">
                            <div class="media l">
                                <a href="http://www.iqiyi.com/v_19rroicb60.html?vfm=m_177_bdsx" target="_blank"><img src="/static/topic/images/topic.jpg" /></a>
                            </div>
                            <div class="desc">
                            <p>
7日晚，安徽卫视《超级演说家》节目在北京现场录制过程中，乐嘉为支持自己的残疾选手崔万志现场喝酒，结果醉酒后失控，满口爆粗TMD不断，导致金星、窦文涛等嘉宾齐齐离场，录制一度中止。在被问及三个人以后还会不会与乐嘉合作时候，金星直接表示，“以后谁还跟跟他合作啊？差点尿都吓出来了。”窦文涛则表示，“我跟他从没有过任何合作，也不认识”。
                            </p>
                            <p>
乐嘉表示，自己此刻站出来说话有三点原因：节目播出前直接发声会被认为是炒作；不想因为自己的回应导致人们听不见崔万志的最后的演讲；对解释很不屑，该懂你的自然会懂。乐嘉对现场事件也做出了回顾与描述，首先，酒是临时起意让助手买的，其次，喝酒总共两次。同时，对自己现场的粗鄙行为也做出了解释：“骂脏话、拍桌子、跺脚、上窜下跳，跪在地上，是我在所有地方做演讲时出现的常态，与我是否喝酒，毫无关系。的确，以上举动，很不优雅，毫不高级，卖相难看，太没修养，这些都对。然而，对我来讲，一个演讲如果只能在有风度和有影响力中二选其一，我会选后者。”
                                </p>
                            </div>
                        </div>
                        <div class="list-area">
                            <div class="operate-line clearfix">
                                <span class="count">本论点共 <i>2</i> 条讨论</span>
                                <ul class="r clearfix">
                                    <li><a href="###" class="focus sort" data-order-type="0">最新讨论</a></li>
                                    <li><a href="###" class="sort" data-order="1">最多支持</a></li>
                                    <li><a href="###" class="sort" data-order="2" >最多反对</a></li>
                                </ul>  
                            </div>
                            <textarea class="templates" id="post-list-tpl">
                                <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                                    <li class="posts" data-post-id="<%=data[i].id %>">
                                        <div class="data-line clearfix">
                                            <div class="operates r">
                                                <% var mark = +data[i].mark %>
                                                <a href="###" class="op-btn op-<% if( mark ) { %>unmark<% } else { %>mark<% } %>" data-action="mark" data-mark-id="<%=mark %>">
                                                    <% if ( mark ) { %>
                                                        <i class="fa fa-star"></i> 取消收藏
                                                    <% } else { %>
                                                        <i class="fa fa-star-o"></i> 收藏
                                                    <% } %>
                                                </a>
                                                <a href="###" class="op-btn" data-action="share">分享</a>
                                                <a href="###" class="op-btn" data-action="report">举报</a>
                                            </div>
                                            <div class="vote l">
                                                <a href="###" class="op-btn btns small agree" data-action="agree" data-intent="agree">支持(<%=data[i].data.agree %>)</a>
                                                <a href="###" class="op-btn btns small disagree" data-action="agree" data-intent="disagree">反对(<%=data[i].data.disagree %>)</a>
                                            </div>
                                            <div class="title l">
                                                <h2><%=data[i].title %></h2>
                                                <a href="###" class="uname">作者： <%=data[i].account.uname %><%=data[i].account.desc %></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="bubbles op-bubbles">
                                            <a href="###" class="close"><i class="fa fa-times"></i></a>
                                            <div class="triangle"><div class="triangle"></div></div>
                                            <div class="inner">
                                                <div class="mark box">
                                                    <p>收藏成功！您也可以分享这条论述，让更多人参与讨论</p>
                                                </div>
                                                <div class="share box clearfix">
                                                    <div class="qrcode l">
                                                        <img src="http://img4.cache.netease.com/game/2014/6/27/20140627172239307b9.png" />
                                                    </div>
                                                    <div class="share-part l">
                                                        <div class="bdsharebuttonbox share-btn-boxes" data-tag="share_1">
                                                            <a class="bds_qzone share-btns" data-cmd="qzone"><i class="fa fa-qq"></i></a>
                                                            <a class="bds_tsina share-btns" data-cmd="tsina"><i class="fa fa-weibo"></i></a>
                                                            <a class="bds_renren share-btns" data-cmd="renren"><i class="fa fa-renren"></i></a>
                                                            <a class="bds_tqq share-btns" data-cmd="tqq"><i class="fa fa-tencent-weibo"></i></a>
                                                            <a class="bds_fbook share-btns" data-cmd="fbook"><i class="fa fa-facebook-official"></i></a>
                                                            <a class="bds_twi share-btns" data-cmd="twi"><i class="fa fa-twitter"></i></a>
                                                        </div> 
                                                        <div class="share-link">
                                                            <div class="line clearfix">
                                                                <span class="l">分享此条论述：</span>
                                                                <a href="/topic?post=<%=data[i].id %>&fr=sharelink" class="link l">http://www.idizcuz.com/topic?post=<%=data[i].id %>&fr=sharelink</a>
                                                                <a href="###" class="btns l">复制链接</a>
                                                            </div>
                                                            <div class="line clearfix">
                                                                <span class="l">分享当前论点：</span>
                                                                <a href="/topic/<?php echo $topic['id']; ?>?fr=sharelink" class="link l">http://www.idizcuz.com/topic/<?php echo $topic['id']; ?>?fr=sharelink</a>
                                                                <a href="###" class="btns l">复制链接</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="report box clearfix">
                                                    <div class="reasons l">
                                                        <label>
                                                            <input type="checkbox" value="1" />
                                                            <span class="msg">广告等垃圾信息</span>
                                                        </label>
                                                        <label>
                                                            <input type="checkbox" value="2" />
                                                            <span class="msg">包涵人身攻击或不文明内容</span>
                                                        </label>
                                                        <label>
                                                            <input type="checkbox" value="3" />
                                                            <span class="msg">内容涉嫌违反法律</span>
                                                        </label>
                                                        <label>
                                                            <input type="checkbox" value="4" />
                                                            <span class="msg">内容涉嫌侵犯他人版权</span>
                                                        </label>
                                                        <label>
                                                            <input type="checkbox" value="0" />
                                                            <span class="msg">其他</span>
                                                        </label>
                                                    </div>
                                                    <div class="l desc-area">
                                                        <textarea class="desc" placeholder="请对您举报的内容做简单描述，长度不可超过250字">&lt;/textarea>
                                                        <p class="brand alert">*  核实举报消息后此条论述会被删除，恶意举报可能面对iDizcuz相关策略惩罚</p>
                                                        <div class="btn-line">
                                                            <a href="###" class="btns">提交举报</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contents">
                                            <p><%=data[i].content %></p>
                                        </div>
                                        <div class="bottom-line">
                                            <a href="###" class="reply r">回复这条论述</a>
                                            <span class="ctime">发表于：<%=data[i].ctime %></span>
                                            <% if( data[i].mtime != data[i].ctime ) { %>
                                                <span class="mtime">修改于：<%=data[i].mtime %></span>
                                            <% } %>
                                            <a href="###" class="comments">100条短评</a>
                                        </div>
                                    </li>
                                <% } %>
                            </textarea>
                            <div class="loading-list top">正在加载列表数据...</div>
                            <ul class="post-list"></ul>
                            <?php if( $account ) { ?>
                                <div id="textbox" class="textbox">
                                    <script type="text/plain" id="editor" class="editor">
                                        <p>在此输入您想发表的内容</p>
                                    </script>
                                </div>
                                <div class="submit-line clearfix">
                                    <p class="post-tip"></p>
                                    <p class="post-warn"></p>
                                    <a href="###" class="btns large public">发布观点</a>
                                </div>
                            <?php } else { ?>
                                <div id="textbox" class="textbox">
                                    <div class="not-login-editor">
                                        <p>请登录并发表您的观点
                                            <a href="/signin">登录</a>
                                            /
                                            <a href="/signup">注册</a>
                                        </p>
                                    </div>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                    <div class="sidebar r">
                        <?php if( $account ) { ?>
                            <div class="new-post">
                                <p>心理所想，不吐不快</p>
                                <a href="###" class="btns large">分享我的观点</a>
                            </div>
                        <?php } else { ?>
                            <div class="about-idizcuz">
                                <p>试着去成为一个理性且有思想的人<p>
                                <a href="/account/page/signup" class="btns large">加入每日论点 • iDizcuz</a>
                            </div>
                        <?php } ?>
                    </div>
                </div>
            </div>
            <div class="footer boxes">
                <div class="inner">
                </div>
            </div>
        </div>
        <script src="/static/common/js/umeditor.config.js"></script>
        <script src="/static/common/js/umeditor.js"></script>
        <script>
            var idizcuz = new J();
            idizcuz.mount( 'editor', '/static/topic/packages/Editor/bootstrap.js', {} );
            idizcuz.mount( 'posts', '/static/topic/packages/Posts/bootstrap.js', {} );
        </script>
        <script>
            with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
        </script> 
    </body>
</html>
