<div class="h-user-cards clearfix">
    <% if( card.self != 1 ) { %>
        <div class="btns-part r">
            <% if( card.followed == 1 ) { %>
                <a href="###" class="btns dark unfollow" data-account-id="<%=card.id %>">取消关注</a>
            <% } else { %>
                <a href="###" class="btns follow" data-account-id="<%=card.id %>">关 注</a>
            <% } %>
        </div>
    <% } %>
    <a href="/user/activities/<%=card.id %>" class="avatar small empty l"></a>
    <div class="info-box l">
        <a href="/user/activities/<%=card.id %>" class="uname"><%-card.uname %></a>
        <div class="num-part clearfix">
            <a href="/user/follow/<%=card.id %>">关注</a>
            <b class="num"><%=card.data.follow %></b>
            <span class="sp">|</span>
            <a href="/user/fans/<%=card.id %>">粉丝</a>
            <b class="num"><%=card.data.fans %></b>
            <span class="sp">|</span>
            <a href="/user/posts/<%=card.id %>">论述</a>
            <b class="num"><%=card.data.post_cnt %></b>
            <span class="sp">|</span>
            <a href="javascript:void(0)">获得支持</a>
            <b class="num"><%=card.data.agree %></b>
            <span class="sp">|</span>
            <a href="javascript:void(0)">获得反对</a>
            <b class="num"><%=card.data.disagree %></b>
        </div>
        <div class="info-part">
            <span>所在行业：<?php echo $user['industry']; ?></span>
            <span class="sp">|</span>
            <span><?php echo $user['employment']; ?>NextSeason新季</span>
            <span><?php echo $user['position']; ?>CEO</span>
        </div>
        <div class="desc-part">
            <span>个人简介：创业一定会成功的！</span>
        </div>
    </div>
</div>
