<div class="user-card clearfix">
    <?php if( $user['img'] ) { ?>
    <a href="/user/activities/<?php echo $user['id']; ?>" class="avatar small" style="background-image:url(http://avatar.idizcuzz.com/<?php echo $user['img']; ?>)"></a>
    <?php } else { ?>
        <a href="/user/activities/<?php echo $user['id']; ?>" class="avatar small"></a>
    <?php } ?>
    <div class="user-info">
        <p class="uname"><?php echo $user['uname']; ?></p>
        <div class="num-part clearfix">
            <div class="l">
                <b class="num"><?php echo $user['data']['follow']; ?></b>
                <a href="/user/follow/<?php echo $user['id']; ?>">关注</a>
            </div>
            <div class="m l">
                <b class="num"><?php echo $user['data']['fans']; ?></b>
                <a href="/user/fans/<?php echo $user['id']; ?>">粉丝</a>
            </div>
            <div class="l">
                <b class="num"><?php echo $user['data']['post_cnt']; ?></b>
                <a href="/user/posts/<?php echo $user['id']; ?>">论述</a>
            </div>
        </div>
        <?php if( !$self ) { ?>
            <div class="btns-part">
                <?php if( $followed ) { ?>
                    <a href="###" class="btns dark unfollow" data-account-id="<?php echo $user['id']; ?>">取消关注</a>
                <?php } else { ?>
                    <a href="###" class="btns follow" data-account-id="<?php echo $user['id']; ?>">关 注</a>
                <?php } ?>
            </div>
        <?php } ?>
        <div class="info-part">
            <p class="industry lines">
                <?php if( $user['industry'] != 0 ) { ?>
                    <span><?php echo $user['industry']; ?> 行业</span>
                <?php } else { ?>
                    <span class="unknown">未知 行业</span>
                <?php } ?>
            </p>
            <p class="situation lines">
                <?php if( $user['employment'] ) { ?>
                    <span><?php echo $user['employment']; ?></span>
                <?php } else { ?>
                    <span class="unknown"> 未知组织</span>
                <?php } ?>
                •
                <?php if( $user['position'] ) { ?>
                    <span><?php echo $user['position']; ?></span>
                <?php } else { ?>
                    <span class="unknown">未知职位</span>
                <?php } ?>
            </p>
        </div>
        <div class="num-part l2 clearfix">
            <div class="l">
                <b class="num"><?php echo $user['data']['agree']; ?></b>
                <a href="javascript:void(0)">获得支持</a>
            </div>
            <div class="l">
                <b class="num"><?php echo $user['data']['disagree']; ?></b>
                <a href="javascript:void(0)">获得反对</a>
            </div>
        </div>
    </div>
</div>
