<!DOCTYPE html>
<html>
    <head>
        <?php 
            $title = '';
        ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/user/css/home.css?_t=1444126334964" />
    </head>
    <body>
        <div id="idizcuz" data-account-id="<?php echo $user['id']; ?>">
            <?php include TPL_PATH . '/common/top.inc.html'; ?>
            <div class="boxes body">
                <div class="inner">
                    <?php include TPL_PATH . '/user/banneduser.inc.html'; ?>
                    <div class="aside">
                        <?php include TPL_PATH . '/user/card.inc.html'; ?>
                    </div>
                    <div class="main">
                        <?php include TPL_PATH . '/user/nav.inc.html'; ?>
                        <div class="loading"></div>
                        <ul class="account-list"></ul>
                        <div id="list-pagination" class="pagination"></div>
                    </div>
                </div>
            </div>
            <?php include TPL_PATH . '/common/foot.inc.html'; ?>
        </div>
        <textarea class="templates" id="account-list-tpl">
            <% if( !data.length ) {%>
                <li>
                    <div class="empty">
                        <?php if( $page == 'follow' ) { ?>
                            <?php if( $self == 1 ) { ?>
                                您还没有关注的用户
                            <?php } else { ?>
                                <?php echo $user['uname']; ?>还没有关注的用户
                            <?php } ?>
                        <?php } else { ?>
                            <?php if( $self == 1 ) { ?>
                                您目前还没有粉丝
                            <?php } else { ?>
                                <?php echo $user['uname']; ?>目前还没有粉丝
                            <?php } ?>
                        <?php } ?>
                    </div>
                </li>
            <% } else { %>
                <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                    <% var card = data[i]; %>  
                    <li>
                        <?php include TPL_PATH . '/user/card_h.tpl.html'; ?>
                    </li>
                <% } %>
            <% } %>
        </textarea>
        <?php include TPL_PATH . '/common/pagination.inc.html'; ?>
        <script>
            var iDizcuz = new J();
            iDizcuz.mount( 'accounts', '/static/user/packages/Accounts/bootstrap.js?_t=1444126334923', {
                page : '<?php echo $page; ?>',
                userId : '<?php echo $user['id']; ?>'
            } );
            iDizcuz.mount( 'follow', '/static/common/packages/Follow/bootstrap.js?_t=1444126334923', {
                signin : +'<?php echo $account ? 1 : 0; ?>'
            } );
        </script>
        <?php include TPL_PATH . '/common/end.inc.html'; ?>
    </body>
</html>
