<!DOCTYPE html>
<html>
    <head>
        <?php 
            $title = '';
        ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/user/css/home.css" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/common/top.inc.html'; ?>
            <div class="boxes account">
                <div class="inner">
                    <div class="user-card clearfix">
                        <a href="/user" class="avatar">
                            <img src="/static/common/images/thinker.png" />
                        </a>
                        <div class="user-info">
                            <a href="/settings" class="btns small dark edit">编辑</a>
                            <p>
                                <a href="/user" class="uname">彬•卿峰</a>
                            </p>
                            <p class="desc">
                                资深互联网从业者
                            </p>
                        </div>
                        <div class="sp"></div>
                        <div class="user-data">
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxes main">
                <div class="inner clearfix">
                    <div class="main-area l">
                        <ul class="nav clearfix">
                            <li><a href="###">参与的论点</a></li>
                            <li><a href="###">发表的论述()</a></li>
                            <li><a href="###">支持过</a></li>
                            <li><a href="###">反对过</a></li>
                            <li><a href="###">收藏</a></li>
                        </ul>
                    </div>
                    <div class="sidebar">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
 
