<!DOCTYPE html>
<html>
    <head>
        <?php 
            $title = '';
        ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/user/css/home.css" />
    </head>
    <body>
        <div id="idizcuz" data-account-id="<?php echo $user['id']; ?>">
            <?php include TPL_PATH . '/common/top.inc.html'; ?>
            <div class="boxes account">
                <div class="inner">
                    <div class="user-card clearfix">
                        <a href="/user" class="avatar">
                            <img src="/static/common/images/thinker.png" />
                        </a>
                        <div class="user-info">
                            <?php if( $self == 1 ) { ?>
                                <a href="/settings" class="btns small dark edit">编辑</a>
                            <?php } ?>
                            <p>
                                <a href="/user" class="uname"><?php echo $user['uname']; ?></a>
                            </p>
                            <p class="situation">
                                <span><?php echo $user['info']['employment']; ?></span>
                                <span><?php echo $user['info']['position']; ?></span>
                            </p>
                            <?php if( $user['info']['industry'] != '0' ) { ?>
                                <p class="industry">
                                    <span>从事行业：</span>
                                    <span><?php echo $user['info']['industry']; ?></span>
                                </p>
                            <?php } ?>
                            <p class="desc">
                                <span>个人简介：</span>
                                <?php echo $user['info']['desc']; ?>
                            </p>
                        </div>
                        <div class="sp l"></div>
                        <div class="user-data l">
                            <div class="line">
                                <span>注册时间：<?php echo substr( $user['ctime'], 0, -9 ); ?></span>
                            </div>
                            <div class="line">
                                <span>发表论述：<?php echo $user['data']['post_cnt']; ?></span>
                            </div>
                            <div class="line">
                                <span>获得支持：<?php echo $user['data']['agree']; ?></span>
                            </div>
                            <div class="line">
                                <span>获得反对：<?php echo $user['data']['disagree']; ?></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxes main">
                <div class="inner clearfix">
                    <div class="main-area l">
                        <div class="nav-box clearfix">
                            <ul class="nav clearfix r">
                                <li><a href="/user/posts" data-page="posts" <?php if( $page == 'posts' ) { echo 'class="focus"'; } ?>>发表的论述</a></li>
                                <li><a href="/user/agree" data-page="agree" <?php if( $page == 'agree' ) { echo 'class="focus"'; } ?>>TA支持的</a></li>
                                <li><a href="/user/disagree" data-page="disagree" <?php if( $page == 'disagree' ) { echo 'class="focus"'; } ?>>TA反对的</a></li>
                                <li><a href="/user/mark" data-page="mark" <?php if( $page == 'mark' ) { echo 'class="focus"'; } ?>>收藏</a></li>
                            </ul>
                        </div>
                        <ul>
                        </ul>
                    </div>
                    <div class="sidebar">
                    </div>
                </div>
            </div>
        </div>
        <?php include TPL_PATH . '/common/post_list.tpl.html'; ?>
        <script>
            var iDizcuz = new J();
            iDizcuz.mount( 'list', '/static/user/packages/List/bootstrap.js' );
        </script>
    </body>
</html>
 
