<!DOCTYPE html>
<html>
    <head>
        <?php 
            $title = '';
        ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/user/css/home.css" />
    </head>
    <body>
        <div id="idizcuz" data-account-id="<?php echo $user['id']; ?>">
            <?php include TPL_PATH . '/common/top.inc.html'; ?>
            <div class="boxes main">
                <div class="inner clearfix">
                    <div class="main-area l">
                        <?php include TPL_PATH . '/user/nav.inc.html'; ?>
                        <div class="loading"></div>
                        <ul class="post-list"></ul>
                        <div id="list-pagination" class="pagination"></div>
                    </div>
                    <div class="sidebar">
                        <?php include TPL_PATH . '/user/card.inc.html'; ?>
                    </div>
                </div>
            </div>
        </div>
        <?php include TPL_PATH . '/user/posts.tpl.html'; ?>
        <?php include TPL_PATH . '/common/pagination.inc.html'; ?>
        <script>
            var iDizcuz = new J();
            iDizcuz.mount( 'posts', '/static/user/packages/Posts/bootstrap.js', {
                url : '/user/interface/markedposts'
            } );
            iDizcuz.mount( 'follow', '/static/user/packages/Follow/bootstrap.js', {});
        </script>
        <?php include TPL_PATH . '/common/foot.inc.html'; ?>
    </body>
</html>
