<!DOCTYPE html>
<html>
    <head>
        <?php 
            $title = '';
        ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/user/css/home.css?_t=1441207777518" />
        <link rel="stylesheet" type="text/css" href="/static/common/css/post.css?_t=1441207777518" />
    </head>
    <body>
        <div id="idizcuz" data-account-id="<?php echo $user['id']; ?>">
            <?php include TPL_PATH . '/common/top.inc.html'; ?>
            <div class="boxes body">
                <div class="inner">
                    <div class="aside">
                        <?php include TPL_PATH . '/user/card.inc.html'; ?>
                    </div>
                    <div class="main">
                        <?php include TPL_PATH . '/user/nav.inc.html'; ?>
                        <div class="loading"></div>
                        <ul class="post-list"></ul>
                    </div>
                </div>
            </div>
            <?php include TPL_PATH . '/common/foot.inc.html'; ?>
        </div>
        <textarea class="templates" id="post-list-tpl">
            <% if( !data.length ) { %>
                <li>
                    <p class="empty">
                        暂时没有最新论述动态
                    </p>
                </li>
            <% } else { %>
                <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                    <% var post = data[i]; %>
                    <li>
                        <?php include TPL_PATH . '/common/post.tpl.html'; ?>
                    </li>
                <% } %>
            <% } %>
        </textarea>
        <textarea class="templates" id="comment-list-tpl">
            <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                <li>
                    <?php include TPL_PATH . '/common/comment.tpl.html'; ?>
                </li>
            <% } %>
        </textarea>
        <script src="/static/common/js/ZeroClipboard.js?_t=1441207777518"></script>
        <script src="/static/common/js/qrcode.js?_t=1441207777518"></script>
        <script>
            var idizcuz = new J();
            idizcuz.mount( 'posts', '/static/user/packages/Posts/bootstrap.js?_t=1441207777471', {
                url : '/user/interface/markedposts',
                userId : '<?php echo $user['id']; ?>'
            } );

            idizcuz.mount( 'operate', '/static/common/packages/PostOperate/bootstrap.js?_t=1441207777471', {} );
            idizcuz.mount( 'comments', '/static/common/packages/Comments/bootstrap.js?_t=1441207777471', {} );
            idizcuz.mount( 'share', '/static/common/packages/Share/bootstrap.js?_t=1441207777471', {} );
            idizcuz.mount( 'copy', '/static/common/packages/Copy/bootstrap.js?_t=1441207777471', {} );
            idizcuz.mount( 'follow', '/static/common/packages/Follow/bootstrap.js?_t=1441207777471', {
                 signin : +'<?php echo $account ? 1 : 0; ?>'
            });
        </script>
        <?php include TPL_PATH . '/common/end.inc.html'; ?>
    </body>
</html>
