<!DOCTYPE html>
<html>
    <head>
        <?php 
            $title = '';
        ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/user/css/message.css" />
    </head>
    <body>
        <div id="idizcuz" data-account-id="<?php echo $user['id']; ?>">
            <?php include TPL_PATH . '/common/top.inc.html'; ?>
            <div class="boxes">
                <div class="inner">
                    <ul class="nav clearfix">
                        <li>
                            <a href="/settings/page/info" class="focus">系统通知</a>
                        </li>
                        <li>
                            <a href="/settings/page/passwd">收到论述</a>
                        </li>
                        <li>
                            <a href="/settings/page/notification">收到评论</a>
                        </li>
                        <li>
                            <a href="/settings/page/mail">收到回复</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="boxes main">
                <div class="inner clearfix">
                </div> 
            </div>
        </div>
        <?php include TPL_PATH . '/common/foot.inc.html'; ?>
    </body>
</html>
