<div class="sub-nav">
    <ul class="nav">
        <?php if( $account && $user['id'] == $account['id'] ) { ?>
            <li><a href="/user/activities/<?php echo $user['id']; ?>" <?php if( $page == 'activities' ) { echo 'class="focus"'; } ?>>我的动态</a></li>
            <li><a href="/user/posts/<?php echo $user['id']; ?>" <?php if( $page == 'posts' ) { echo 'class="focus"'; } ?>>我的论述</a></li>
            <li><a href="/user/mark/<?php echo $user['id']; ?>" <?php if( $page == 'mark' ) { echo 'class="focus"'; } ?>>我的收藏</a></li>
            <li><a href="/user/follow/<?php echo $user['id']; ?>" <?php if( $page == 'follow' ) { echo 'class="focus"'; } ?>>我的关注</a></li>
            <li><a href="/user/fans/<?php echo $user['id']; ?>" <?php if( $page == 'fans' ) { echo 'class="focus"'; } ?>>我的粉丝</a></li>
        <?php } else { ?>
            <li><a href="/user/activities/<?php echo $user['id']; ?>" <?php if( $page == 'activities' ) { echo 'class="focus"'; } ?>>TA的动态</a></li>
            <li><a href="/user/posts/<?php echo $user['id']; ?>" <?php if( $page == 'posts' ) { echo 'class="focus"'; } ?>>TA的论述</a></li>
            <li><a href="/user/mark/<?php echo $user['id']; ?>" <?php if( $page == 'mark' ) { echo 'class="focus"'; } ?>>TA的收藏</a></li>
            <li><a href="/user/follow/<?php echo $user['id']; ?>" <?php if( $page == 'follow' ) { echo 'class="focus"'; } ?>>TA的关注</a></li>
            <li><a href="/user/fans/<?php echo $user['id']; ?>" <?php if( $page == 'fans' ) { echo 'class="focus"'; } ?>>TA的粉丝</a></li>
        <?php } ?>
        <?php if( $self === 'aaa' ) { ?>
            <li><a href="/user/removed" <?php if( $page == 'removed' ) { echo 'class="focus"'; } ?>>已删除的</a></li>
        <?php } ?>
    </ul>
</div>
