<div class="boxes footer">
    <div class="inner">
        <ul class="link-list clearfix">
            <li><a href="###">移动应用</a></li>
            <li><span class="sp">|</span></li>
            <li><a href="###">商务合作</a></li>
            <li><span class="sp">|</span></li>
            <li><a href="###">广告投放</a></li>
            <li><span class="sp">|</span></li>
            <li><a href="###">加入我们</a></li>
        </ul>
        <small>
            <span>如有话题建议请 <a href="###">点击这里</a> 进行反馈</span>
            <span class="sp">•</span>
            <span>如想提出产品建议请<a href="###"> 点击这里</a> 进行反馈</span>
        </small>
        <small>
            <a href="###">每日论点 • iDizcuz协议</a>
            <span class="sp">•</span>
            <a href="###">用户帮助中心</a>
            <span class="sp">•</span>
            <span>京ICP备15033954号</span>
        </small>
    </div>
</div>
<div id="signin-dialog">
    <div class="wrap">
        <div class="inner">
            <a href="###" class="close"><i class="fa fa-close"></i></a>
            <form class="global-signin">
                <p class="tt">帐号登录</p>
                <div class="line">
                    <input type="text" class="email" placeholder="邮箱">
                </div>
                <div class="line">
                    <input type="password" class="passwd" placeholder="密码">
                </div>
                <p class="signin-tip"></p>
                <div class="line link-line">
                    <label>
                        <input type="checkbox" class="remember" />
                        <span>记住我</span>
                    </label> 
                    <span class="sp">|</span>
                    <a href="/forget">忘记密码？</a>
                    <span class="sp">|</span>
                    <a href="/signup">注册</a>
                </div>
                <div class="line">
                    <input type="submit" class="btns larger signin-btn" value="登录">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    new J().mount( 'iDizcuz-Signin', '/static/common/packages/Signin/bootstrap.js?_t=1443165092307' );
</script>

