<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title><?php echo $title; ?></title>
<link rel="stylesheet" href="/static/common/css/base.css" />
<link rel="stylesheet" href="/static/common/css/common.css" />
<link rel="stylesheet" href="/static/common/css/font-awesome.css" />
<link rel="shortcut icon" href="/static/common/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/common/images/favicon.ico" type="image/x-icon">
<link rel="bookmark" href="/static/common/images/favicon.ico" type="image/x-icon">
<script src="/static/common/js/jquery.js"></script>
<script src="/static/common/js/jSwitch.js"></script>
