<div class="boxes top-nav">
    <div class="inner">
        <ul class="clearfix">
            <?php $n = isset( $nav ) ? $nav : ''; ?>
            <li><a href="/" class="<?php echo $n == 'index' ? 'focus' : ''; ?>">首页</a></li>
            <li><a href="/news" class="<?php echo $n == 'news' ? 'focus' : ''; ?>">新闻</a></li>
            <li><a href="/activities" class="<?php echo $n == 'activities' ? 'focus' : ''; ?>">话题动态</a></li>
            <li><a href="/list/1" class="<?php echo $n == 'focus' ? 'focus' : ''; ?>">焦点话题</a></li>
            <li><a href="/list" class="<?php echo $n == 'list' ? 'focus' : ''; ?>">话题列表</a></li>
        </ul>
    </div>
</div>

