<textarea class="templates" id="post-list-tpl">
    <% if( !data.length ) { %>
        <div class="empty">此论点目前还没有论述，快发布您的论述，并分享给您的好友吧</div>
    <% } else { %>
        <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
            <li class="posts" data-post-id="<%=data[i].id %>">
                <div class="data-line clearfix">
                    <div class="operates r">
                        <% var mark = +data[i].mark %>
                        <a href="###" class="op-btn op-<% if( mark ) { %>unmark<% } else { %>mark<% } %>" data-action="mark" data-mark-id="<%=mark %>">
                            <% if ( mark ) { %>
                                <i class="fa fa-star"></i> 取消收藏
                            <% } else { %>
                                <i class="fa fa-star-o"></i> 收藏
                            <% } %>
                        </a>
                        <a href="###" class="op-btn" data-action="share">分享</a>
                        <a href="###" class="op-btn" data-action="report">举报</a>
                    </div>
                    <div class="vote l">
                        <a href="###" class="op-btn btns small agree" data-action="agree" data-intent="1">支持(<b><%=data[i].data.agree %></b>)</a>
                        <a href="###" class="op-btn btns small disagree" data-action="agree" data-intent="0">反对(<b><%=data[i].data.disagree %></b>)</a>
                    </div>
                    <div class="title l">
                        <h2><%=data[i].title %></h2>
                        <a href="###" class="uname">作者： <%=data[i].account.uname %><%=data[i].account.desc %></a>
                    </div>
                </div>
                <div class="contents">
                    <p><%=data[i].content %></p>
                </div>
                <div class="bottom-line">
                    <a href="###" class="reply r">回复这条论述</a>
                    <span class="ctime">发表于：<%=data[i].ctime %></span>
                    <% if( data[i].mtime != data[i].ctime ) { %>
                        <span class="mtime">修改于：<%=data[i].mtime %></span>
                    <% } %>
                    <a href="###" class="comments"><%=data[i].comments_cnt %>条短评</a>
                </div>
            </li>
        <% } %>
    <% } %>
</textarea>
