<a href="/signup" class="btns large fullsize join-btn">加入每日论点 • iDizcuz</a>
<div class="sign-box">
    <form class="signin">
        <span class="signin-tip">用户名或密码错误！</span>
        <p class="tt">帐号登录</p>
        <div class="line">
            <input type="text" class="email" placeholder="邮箱">
        </div>
        <div class="line">
            <input type="password" class="passwd" placeholder="密码">
        </div>
        <div class="line">
            <p class="tip"></p>
        </div>
        <div class="line">
            <label>
                <input type="checkbox" class="remember" />
                <span>记住我</span>
            </label> 
            <span class="sp">|</span>
            <a href="/forget" class="redirect forget">忘记密码？</a>
            <span class="sp">|</span>
            <a href="/signup" class="redirect">注册</a>
        </div>
        <div class="line">
            <input type="submit" class="btns larger signin-btn" value="登录">
        </div>
    </form>
    <script>
        new J().mount( 'Signin', '/static/common/packages/Signin/bootstrap.js?_t=1444356922966', {} );
    </script>
</div>
