<?php if( $account['status'] != 0 ) { ?>
    <div class="boxes ban-tip">
        <div class="inner">
            <p>
                您的帐号目前处于封禁状态，封禁时间为 <b><?php echo $account['ban_start']; ?></b> 至 <b><?php echo $account['ban_end']; ?></b> 
                <a href="###">[ 查看封禁规则 ]</a>
            </p>
        </div>
    </div>
<?php } ?>
<div class="boxes top">
    <div class="inner">
        <?php if( isset( $account ) && $account ) { ?>
            <ul class="account">
                <li>
                    <a href="/user/activities/<?php echo $account['id']; ?>">
                        <?php if( $account['img'] ) { ?>
                            <span class="avatar" style="background-image:url(http://avatar.idizcuzz.com/<?php echo $account['img']; ?>)"></span>
                        <?php } else { ?>
                            <span class="avatar"></span>
                        <?php } ?>
                        <span class="uname"><?php echo $account[ 'uname' ]; ?></span>
                        <?php if( $account['data']['unread_msg'] > 0 ) { ?>
                            <i class="unread-msg-remind"><?php echo $account['data']['unread_msg']; ?></i>
                        <?php } ?>
                    </a>
                    <ul>
                        <li><a href="/user/activities/<?php echo $account['id']; ?>"><i class="fa fa-home"></i> 我的主页</a></li>
                        <li><a href="/messages"><i class="fa fa-envelope"></i> 消息
                            <?php if( $account['data']['unread_msg'] > 0 ) { ?>
                                <i class="unread-msg-remind"><?php echo $account['data']['unread_msg']; ?></i>
                            <?php } ?>
                        </a></li>
                        <li><a href="/settings"><i class="fa fa-gear"></i> 设置</a></li>
                        <li><a href="/signout"><i class="fa fa-power-off"></i> 退出</a></li>
                    </ul>
                </li>
            </ul>
        <?php } else { ?>
            <div class="sign">
                <a href="/signup">注册</a>
                <span> | </span>
                <a href="/signin">登录</a>
            </div>
            <?php } ?>
        <a href="/" class="logo-text">每日论点 • iDizcuz</a>
    </div>
</div>
<?php include TPL_PATH . '/common/nav.inc.html'; ?>
