<div class="boxes top">
    <div class="inner">
        <?php if( $account ) { ?>
            <ul class="account">
                <li>
                    <a href="###"><?php echo $account[ 'uname' ]; ?></a>
                    <ul>
                        <li><a href="/home"><i class="fa fa-home"></i> 我的主页</a></li>
                        <li><a href="/message"><i class="fa fa-envelope"></i> 消息</a></li>
                        <li><a href="/setting"><i class="fa fa-gear"></i> 设置</a></li>
                        <li><a href="/signout"><i class="fa fa-power-off"></i> 退出</a></li>
                    </ul>
                </li>
            </ul>
        <?php } else { ?>
            <div class="sign">
                <a href="/signup">注册</a>
                <span> | </span>
                <a href="/signin">登录</a>
            </div>
            <?php } ?>
        <a href="/" class="logo-text light">每日论点 • iDizcuz</a>
    </div>
</div>
