<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>GROUPLE UI GUIDE</title>
        <link rel="stylesheet" type="text/css" href="/static/common/css/base.css" />
        <style>
            body {
                padding : 0 20px;
            }
            h1 {
                line-height : 50px;
            }
            h2 {
                line-height : 40px;
            }
        </style>
    </head>
    <body>
        <h1>GROUPLE 视觉规范</h1>
        <h2>色彩使用</h2>
        <h2>文字使用</h2>
        <h2>控件使用</h2>
        <h2>图标使用</h2>
        <h2>UI组件使用</h2>
    </body>
</html>
