<ul class="account-aside-nav clearfix">
    <li><a href="/user/activities/<?php echo $account['id']; ?>"><i class="fa fa-newspaper-o"></i> 关注动态</a></li>
    <li><a href="/user/posts/<?php echo $account['id']; ?>"><i class="fa fa-file-text-o"></i> 我的论述</a></li>
    <li><a href="/user/mark/<?php echo $account['id']; ?>"><i class="fa fa-bookmark-o"></i> 我的收藏</a></li>
    <li><a href="/user/follow/<?php echo $account['id']; ?>"><i class="fa fa-eye"></i> 我关注的</a></li>
    <li><a href="/user/fans/<?php echo $account['id']; ?>"><i class="fa fa-users"></i> 我的粉丝</a></li>
</ul>
