<!DOCTYPE html>
<html>
    <head>
        <?php 
            $title='每日论点 • iDizcuz - 成为理性且有思想的人';
            $nav = 'activities';
        ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" href="/static/common/css/post.css?_t=1443946534044" />
        <link rel="stylesheet" href="/static/home/css/activities.css?_t=1443946534044" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/common/top.inc.html'; ?>

            <div class="boxes body clearfix">
                <div class="inner">
                    <div class="aside">
                        <?php if( $account ) { ?>
                            <?php include TPL_PATH . '/common/userpages.inc.html'; ?>
                        <?php } else { ?>
                            <?php include TPL_PATH . '/common/signin.inc.html'; ?>
                        <?php } ?>
                    </div>
                    <div class="main main-part">
                        <ul class="new-post-list"></ul>
                        <a class="load-more">
                            加载更多动态
                            <i class="fa fa-angle-double-down"></i>
                        </a>

                    </div>
                </div>
            </div>
            <?php include TPL_PATH . '/common/foot.inc.html'; ?>
        </div>
        <textarea class="templates" id="new-accounts-tpl">
            <% for( var i = 0, l = data.length; i < l; i += 1 ) { var item = data[i]; %>
                <li>
                    <div class="new-accounts clearfix">
                        <a href="/user/activities/<%=item.id %>" class="avatar smaller l" style="<% if( item.img ) { %>background-image:url(http://avatar.idizcuzz.com/<%-item.img%>)<% } %>"></a>
                        <div class="uname-area l">
                            <% if( item.sex == 1 ) { %>
                                <i class="fa fa-mars male"></i>
                            <% } else if( item.sex == 2 ) { %>
                                <i class="fa fa-venus female"></i>
                            <% } %>
                            <a href="/user/activities/<%=item.id %>" class="uname"><%-item.uname %></a>
                            <a href="###" class="btns follow">关注</a>
                        </div>
                    </div>
                </li>
            <% } %>
        </textarea>
        <textarea class="templates" id="new-posts-tpl">
            <% if( !data.length ) { %>
                <li>
                    <p class="empty">
                        暂时没有最新论述动态
                    </p>
                </li>
            <% } else { %>
                <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                    <% var post = data[i]; %>
                    <li>
                        <?php include TPL_PATH . '/common/post.tpl.html'; ?>
                    </li>
                <% } %>
            <% } %>
        </textarea>
        <textarea class="templates" id="comment-list-tpl">
            <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                <li>
                    <?php include TPL_PATH . '/common/comment.tpl.html'; ?>
                </li>
            <% } %>
        </textarea>
        <script src="/static/common/js/ZeroClipboard.js?_t=1443946534044"></script>
        <script src="/static/common/js/qrcode.js?_t=1443946534044"></script>
        <script>
            var idizcuz = new J();
            idizcuz.mount( 'posts', '/static/home/packages/Posts/bootstrap.js?_t=1443946534005' );

            idizcuz.mount( 'operate', '/static/common/packages/PostOperate/bootstrap.js?_t=1443946534005', {
                signin : +'<?php echo $account ? 1 : 0; ?>',
                fullFunction : false
            } );
            idizcuz.mount( 'comments', '/static/common/packages/Comments/bootstrap.js?_t=1443946534005', {
                signin : +'<?php echo $account ? 1 : 0; ?>'
            } );
            idizcuz.mount( 'share', '/static/common/packages/Share/bootstrap.js?_t=1443946534005', {} );
            idizcuz.mount( 'copy', '/static/common/packages/Copy/bootstrap.js?_t=1443946534005', {} );
        </script>
        <?php include TPL_PATH . '/common/end.inc.html'; ?>
    </body>
</html>
