<!DOCTYPE html>
<html>
    <head>
        <?php include TPL_PATH . '/commonMobile/head.inc.html'; ?>
    </head>
    <body>
        <?php $nav = 'list'; ?>
        <div id="idizcuz">
            <?php include TPL_PATH . '/commonMobile/top.inc.html'; ?>
            <?php include TPL_PATH . '/commonMobile/nav.inc.html'; ?>
            <?php if( !$account ) { ?>
                <?php include TPL_PATH . '/accountMobile/signin.inc.html'; ?>
            <?php } ?>
            <div class="boxes">
                <ul class="topic-list"></ul>
                <div class="btns load-more">点击加载更多</div>
            </div>
            <textarea class="templates" id="topic-list-tpl">
                <% if( !data.length ) { %>
                    <li class="empty">没有更多数据</li>
                <% } else { %>
                    <% for( var i = 0, l = data.length; i < l; i += 1 ) { var topic = data[i]; %>
                        <li class="topics">
                            <div class="first-line">
                                <span class="date r"><%=topic.ctime.substr( 0, 10 ) %></span>
                                <span class="brand"><%-topic.data.cate %></span>
                                <span> • </span>
                                <span class="brand"><% +topic.data.type == 1 ? '辩论' : '讨论' %></span>
                            </div>
                            <h2><a href="/topic/<%-topic.id %>"><%-topic.title %></a></h2>
                            <div class="desc">
                                <div class="rich-text"><%=topic.desc %></div>
                                <div class="bottom-line">
                                    <a href="###" class="show-more-info">[显示更多介绍]</a>
                                </div>
                            </div>
                            <% if( topic.points.length ) { var points = topic.points, arr = ['一','二','三','四','五']; %>
                                <ul class="point-list">
                                    <% for( var j = 0, len = points.length; j < len; j += 1 ) { var point = points[j]; %>
                                        <li>
                                            <div class="points">
                                                <i class="flags flag-<% j + 1 %>"></i>
                                                <span>观点<%-arr[j] %>：<%-point.title %></span>
                                            </div>
                                        </li>
                                    <% } %>
                                </ul>
                            <% } %>
                            <a href="/topic/<%-topic.id %>" class="open-topic btns dark">点击查看话题</a>
                        </li>
                    <% } %>
                <% } %>
            </textarea>
            <?php include TPL_PATH . '/commonMobile/foot.inc.html'; ?>
        </div>
        <script>
            ( function() {
                $( '.topic-list' ).on( 'click', '.show-more-info', function( e ) {
                    e.preventDefault();
                    var el = $( this ).closest( 'li.topics' );
                    el.find( '.desc p' ).show();
                    el.find( '.bottom-line' ).hide();
                } );
            } )();
            new J().mount( 'topiclist', '/static/topicMobile/packages/TopicList/bootstrap.js?_t=1444845301900', {
                cid : '<?php echo $cid; ?>'
            } );
        </script>
        <?php include TPL_PATH . '/commonMobile/end.inc.html'; ?>
    </body>
</html>
