<!DOCTYPE html>
<html>
    <head>
        <?php include TPL_PATH . '/commonMobile/head.inc.html'; ?>
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/commonMobile/top.inc.html'; ?>
            <?php include TPL_PATH . '/commonMobile/nav.inc.html'; ?>
            <?php if( !$account ) { ?>
                <?php include TPL_PATH . '/accountMobile/signin.inc.html'; ?>
            <?php } ?>
            <div class="boxes topic">
                <div class="title-line">
                <h1>
                    <span class="seal seal-<?php echo $topic['data']['type']; ?>"></span>
                    <?php echo htmlspecialchars( $topic['title'] ); ?>
                </h1>
                <p class="info">
                    <a href="/list" class="btns dark r">更多话题</a>
                    <span>话题日期：<?php echo substr( $topic['ctime'], 0, -9 ); ?></span>
                    <span>分类：<a href="/list/<?php echo $topic['data']['cid']; ?>"><?php echo $topic['data']['cate']; ?></a></span>
                </p>
            </div>
            <div class="desc">
                <?php echo $topic[ 'desc' ]; ?>
                <div class="bottom-line">
                    <a href="/articles/<?php echo $topic['id']; ?>" target="_blank">[更多相关资料和信息]</a>
                </div>
            </div>
            <?php if( $topic['data']['type'] == 1 ) { ?>
                <style>
                    <?php 
                        $colors = ['#E9733C', '#3BA1E0', '#b13011'];
                        $i = 0;
                        foreach( $points as $point ) { 
                    ?>
                    .point-flag-<?php echo $point['id']; ?> { color : <?php echo $colors[$i]; ?>; }
                    <?php $i++; } ?>
                </style>
                <div class="point-area">
                    <?php $arr = ['一','二','三','四','五']; ?>
                    <ul class="clearfix split-point-list">
                        <?php $i = 0; foreach( $points as $point ) { ?>
                            <li>
                                <div class="points ">
                                    <div class="title">
                                        <i class="fa fa-flag point-flag-<?php echo $point['id']; ?>"></i>
                                        <span>观点<?php echo $arr[$i]; ?>：<?php echo $point['title']; ?></span>
                                    </div>
                                    <div class="point-data">
                                        <span>论述 <b class="brand"><?php echo $point['data']['post_cnt']; ?></b></span>
                                        <span>支持 <b class="brand"><?php echo $point['data']['agree']; ?></b></span>
                                        <span>反对 <b class="brand"><?php echo $point['data']['disagree']; ?></b></span>
                                        <span href="###" class="index">指数 <b class="brand"><?php echo $point['data']['index']; ?></b></span>
                                    </div>
                                </div>
                            </li>
                        <?php $i++; } ?>
                    </ul>
                </div>
            <?php } ?>
            <div class="list-area">
                <div class="operate-line clearfix">
                    <span class="count">本话题共 <i class="brand"><?php echo $topic['data']['post_cnt']; ?></i> 条讨论</span>
                    <ul class="sort-list r clearfix">
                        <li><a href="###" class="focus sort" data-order-type="0">最新讨论</a></li>
                        <li><a href="###" class="sort" data-order="1">最多支持</a></li>
                        <li><a href="###" class="sort" data-order="2" >最多反对</a></li>
                    </ul>  
                    <?php if( $topic['data']['type'] == 1 ) { ?>
                        <div class="filter-box">
                            <a href="###" class="current"><i class="fa fa-flag-o"></i></a>
                            <div class="filter-list">
                                <a href="###"><i class="fa fa-flag-o"></i></a>
                                <?php foreach( $points as $point ) { ?>
                                    <a href="###" data-point-id="<?php echo $point['id']; ?>">
                                        <i class="fa fa-flag point-flag-<?php echo $point['id']; ?>"></i>
                                    </a>
                                <?php } ?>
                            </div>
                        </div>
                    <?php } ?>
                </div>
            </div>
            <div class="boxes">
                <ul class="post-list"></ul>
            </div>
            <?php include TPL_PATH . '/commonMobile/foot.inc.html'; ?>
        </div>
        <textarea class="templates" id="post-list-tpl">
            <% if( !data.length ) { %>
                <li class="empty">
                    暂时没有论述
                </li>
            <% } else { %>
                <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                    <% var post = data[i]; %>
                    <li><?php include TPL_PATH . '/commonMobile/post.inc.html'; ?></li>
                <% } %>
            <% } %>
        </textarea>
        <textarea class="templates" id="comment-list-tpl">
            <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                <% var comment = data[i]; %>                
                <?php include TPL_PATH . '/commonMobile/comment.inc.html'; ?>
            <% } %>
        </textarea>
        <?php $signin = $account ? 1 : 0; ?>
        <script>
            var idizcuz = new J();
            idizcuz.mount( 'posts', '/static/topicMobile/packages/Posts/bootstrap.js?_t=1439666227055', {
                topic : '<?php echo $topic['id']; ?>'
            } );
            idizcuz.mount( 'operate', '/static/commonMobile/packages/PostOperate/bootstrap.js?_t=1439666227055', {
                signin : +'<?php echo $signin; ?>'
            } );
            idizcuz.mount( 'comments', '/static/commonMobile/packages/Comments/bootstrap.js?_t=1439666227055', {
                signin : +'<?php echo $signin; ?>'
            } );
        </script>
        <?php include TPL_PATH . '/commonMobile/end.inc.html'; ?>
    </body>
</html>
