<!DOCTYPE html>
<html>
    <head>
        <?php include TPL_PATH . '/commonMobile/head.inc.html'; ?>
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/commonMobile/top.inc.html'; ?>
            <?php include TPL_PATH . '/commonMobile/nav.inc.html'; ?>
            <?php if( !$account ) { ?>
                <?php include TPL_PATH . '/accountMobile/signin.inc.html'; ?>
            <?php } ?>
            <div class="boxes topic">
                <div class="topics">
                    <div class="first-line">
                        <span class="date r">
                            <?php echo substr( $topic['ctime'], 0, -9 ); ?>
                        </span>
                        <span class="brand">
                            <?php echo $topic['data']['cate']; ?>
                        </span>
                        <span> • </span>
                        <span class="brand">
                            <?php echo $topic['data']['type'] == 1 ? '辩论' : '讨论'; ?>
                        </span>
                    </div>
                    <h2>
                        <a href="/topic/<?php echo $topic['id']; ?>">
                            <?php echo $topic['title']; ?>
                        </a>
                    </h2>
                    <div class="desc">
                        <div class="rich-text">
                            <?php echo $topic['desc']; ?>
                        </div>
                        <div class="bottom-line">
                            <a href="###" class="show-more-info">[显示更多介绍]</a>
                        </div>
                    </div>
                    <?php if( $topic['data']['type'] == 1 ) { ?>
                        <style>
                            <?php 
                                $colors = ['#E9733C', '#3BA1E0', '#b13011'];
                                $i = 0;
                                foreach( $points as $point ) { 
                            ?>
                                .point-flag-<?php echo $point['id']; ?> { background : <?php echo $colors[$i]; ?>; }
                            <?php $i++; } ?>
                        </style>
                        <?php $arr = ['一','二','三','四','五']; ?>
                        <ul class="point-list">
                            <?php $i = 0; foreach( $points as $point ) { ?>
                                <?php $d = $point['data']; ?>
                                <li>
                                    <div class="points">
                                        <div class="point-data">
                                            <div class="aside">
                                                <i class="flags point-flag-<?php echo $point['id']; ?>"></i>
                                                <span>观点<?php echo $arr[$i]; ?></span>
                                            </div>
                                            <div class="main">
                                                <span> 论述 
                                                    <b class="brand">
                                                        <?php echo $d['post_cnt']; ?>
                                                    </b>
                                                </span>
                                                <span> 支持 
                                                    <b class="brand">
                                                        <?php echo $d['agree']; ?>
                                                    </b>
                                                </span>
                                                <span> 反对 
                                                    <b class="brand">
                                                        <?php echo $d['disagree']; ?>
                                                    </b>
                                                </span>
                                                <span class="index"> 指数 
                                                    <b class="brand">
                                                        <?php echo $d['index']; ?>
                                                    </b>
                                                </span>
                                            </div>
                                            <p><?php echo $point['title']; ?></p>
                                        </div>
                                    </div>
                                </li>
                            <?php $i++; } ?>
                        </ul>
                    <?php } ?>
                </div>
            </div>
            <div class="boxes">
                <a href="/articles/<?php echo $topic['id']; ?>" class="full-width-link">查看话题相关资料</a>
            </div>
            <div class="boxes" style="margin-top:10px;padding:0 5px">
                本话题共 
                <b class="brand"><?php echo $topic['data']['post_cnt']; ?></b> 
                条讨论
            </div>
            <div class="boxes sub-nav">
                <ul>
                    <li><a href="###" class="focus sort" data-order-type="0">最新</a></li>
                    <li><a href="###" class="sort" data-order="1">最多支持</a></li>
                    <li><a href="###" class="sort" data-order="2" >最多反对</a></li>
                </ul>
            </div>
            <div class="boxes">
                <ul class="post-list"></ul>
                <div class="loading">正在加载数据...</div>
                <div class="pagination"></div>
            </div>
            <?php include TPL_PATH . '/commonMobile/foot.inc.html'; ?>
        </div>
        <textarea class="templates" id="post-list-tpl">
            <% if( !data.length ) { %>
                <li class="empty">
                    暂时没有论述
                </li>
            <% } else { %>
                <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                    <% var post = data[i]; %>
                    <li><?php include TPL_PATH . '/commonMobile/post.inc.html'; ?></li>
                <% } %>
            <% } %>
        </textarea>
        <textarea class="templates" id="comment-list-tpl">
            <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                <% var comment = data[i]; %>                
                <?php include TPL_PATH . '/commonMobile/comment.inc.html'; ?>
            <% } %>
        </textarea>
        <textarea class="templates" id="pagination-tpl">
            <?php include TPL_PATH . '/commonMobile/pagination.inc.html'; ?>
        </textarea>
        <?php $signin = $account ? 1 : 0; ?>
        <script>
            var idizcuz = new J();
            idizcuz.mount( 'posts', '/static/topicMobile/packages/Posts/bootstrap.js?_t=1443013737479', {
                topic : '<?php echo $topic['id']; ?>',
                points : <?php echo $points ? json_encode( $points ) : 'null'; ?>
            } );
            idizcuz.mount( 'operate', '/static/commonMobile/packages/PostOperate/bootstrap.js?_t=1443013737479', {
                signin : +'<?php echo $signin; ?>'
            } );
            idizcuz.mount( 'comments', '/static/commonMobile/packages/Comments/bootstrap.js?_t=1443013737480', {
                signin : +'<?php echo $signin; ?>'
            } );
            ( function() {
                $( '.show-more-info' ).on( 'click', function( e ) {
                    e.preventDefault();
                    $( '.topics .desc p' ).show();
                } );
            } )();
        </script>
        <?php include TPL_PATH . '/commonMobile/end.inc.html'; ?>
    </body>
</html>
