<!DOCTYPE html>
<html>
    <head>
        <?php include TPL_PATH . '/commonMobile/head.inc.html'; ?>
        <link rel="stylesheet" href="/static/topicMobile/css/write.css?_t=1445017523267" />
    </head>
    <body>
        <div id="idizcuz">
            <?php if( !$account ) { ?>
                <div class="boxes top">
                    <?php if( empty( $topic ) ) { ?>
                        <a href="/" class="cancel l">首页</a>
                    <?php } else { ?>
                        <a href="/topic/<?php echo $topic['id']; ?>" class="cancel l">返回</a>
                    <?php } ?>
                </div>
                <div class="boxes tip">
                    <p>您需要先登录才可以发布论述</p>
                </div>
                <?php include TPL_PATH . '/accountMobile/signin.inc.html'; ?>
            <?php } else { ?>
                <div class="boxes top clearfix">
                    <?php if( !empty( $topic ) ) { ?>
                        <a href="###" class="public btns small dark r">发布</a>
                        <a href="/topic/<?php echo $topic['id']; ?>" class="cancel l">返回</a>
                    <?php } else { ?>
                        <a href="/" class="cancel l">回到首页</a>
                    <?php } ?>
                </div>
                <?php if( empty( $topic ) ) { ?>
                    <div class="boxes error">
                        <p>您访问的话题已删除或不存在</p>
                        <p>
                            <a href="/">回到首页</a>
                            <span class="sp">|</span>
                            <a href="/list">话题列表</a>
                        </p>
                    </div>
                <?php } else { ?>
                    <div class="boxes topic">
                        <a href="/topic/<?php echo $topic['id']; ?>" class="title">
                            <b class="gruy-light">话题：</b><?php echo $topic['title']; ?>
                        </a>
                    </div>
                    <?php if( $topic['data']['type'] == 1 ) { ?>
                        <div class="boxes">
                            <p class="select">点击选择您支持的观点</p>
                            <p class="selected"></p>
                        </div>
                    <?php } ?>
                    <div class="boxes form-area">
                        <form>
                            <input type="hidden" class="point_id" value="0" />
                            <input type="hidden" class="to" value="<?php echo $post['id']; ?>" />
                            <input type="text" class="title full" placeholder="输入论述标题" />
                            <textarea class="content full" placeholder="请输入论述内容"></textarea>
                            <div class="imagecode-area clearfix">
                                <input type="text" class="small r imagecode" />
                                <img src="/common/interface/imagecode" class="imagecode r" />
                            </div>
                    </form>
                    </div>
                    <?php if( isset( $post ) && $post != 0 ) { ?>
                        <div class="boxes to">
                            <a href="/post/<?php $post['id']; ?>" class="title">
                                <b class="gruy-light">针对论述：</b><?php echo htmlspecialchars( $post['title'] ); ?>
                            </a>
                            <a href="###" class="remove">删除</a>
                        </div>
                    <?php } ?>
                    <?php if( $topic['data']['type'] == 1 ) { ?>
                        <div class="boxes points" tabindex="-1">
                            <div class="top clearfix">
                                <a href="###" class="r done">完成</a>
                            </div>
                            <style>
                                <?php 
                                    $colors = ['#E9733C', '#3BA1E0', '#b13011'];
                                    $i = 0;
                                    foreach( $points as $point ) { 
                                ?>
                                    .point-flag-<?php echo $point['id']; ?> { 
                                        background : <?php echo $colors[$i]; ?>;
                                    }
                                <?php $i++; } ?>
                            </style>
                            <?php $arr = ['一','二','三','四','五']; ?>
                            <ul class="point-list">
                                <?php $i = 0; foreach( $points as $point ) { ?>
                                    <li class="points" data-point-id="<?php echo $point['id']; ?>">
                                        <i class="flags point-flag-<?php echo $point['id']; ?>"></i>
                                        观点<?php echo $arr[$i]; ?>：
                                        <?php echo $point['title']; ?>
                                    </li>
                                <?php $i++; } ?>
                            </ul>
                        </div>
                    <?php } ?>
                    <script>
                        var idizcuz = new J();
                        idizcuz.mount( 'write', '/static/topicMobile/packages/Write/bootstrap.js?_t=1445017523228', {
                            topicId : +'<?php echo $topic['id']; ?>',
                            needPoint : +'<?php echo $topic['data']['type'] == 1 ? 1 : 0; ?>'
                        } );
                    </script>
                <?php } ?>
                <?php include TPL_PATH . '/commonMobile/foot.inc.html'; ?>
            <?php } ?>
        </div>
        <?php include TPL_PATH . '/commonMobile/end.inc.html'; ?>
    </body>
</html>
