<!DOCTYPE html>
<html>
    <head>
        <?php include TPL_PATH . '/commonMobile/head.inc.html'; ?>
        <link rel="stylesheet" href="/static/homeMobile/css/activities.css?_t=1439490241597" />
    </head>
    <body>
        <?php $nav = 'activities'; ?>
        <div id="idizcuz">
            <?php include TPL_PATH . '/commonMobile/top.inc.html'; ?>
            <?php include TPL_PATH . '/commonMobile/nav.inc.html'; ?>
            <?php if( !$account ) { ?>
                <?php include TPL_PATH . '/accountMobile/signin.inc.html'; ?>
            <?php } ?>

            <div class="boxes">
                <ul class="post-list"></ul>
                <div class="btns load-more">点击加载更多</div>
            </div>
            <div class="dialog tip-dialog">
                <div class="wrap">
                    <div class="inner">
                        <p class="brand tip"></p>
                    </div>
                </div>
            </div>
            <?php include TPL_PATH . '/commonMobile/foot.inc.html'; ?>
        </div>
        <textarea class="templates" id="comment-list-tpl">
            <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                <li id="comment-<%=data[i].id %>" class="comment-item" data-comment-id="<%=data[i].id %>">
                    <a href="/user/activities/<%=data[i].account_id %>" class="u-link">
                        <%-data[i].account.uname %>
                    </a>
                    <p class="comment-text">
                        <% if( data[i].reply_account ) { %>
                            [ 
                            <span>回复 </span>     
                            <a href="/user/activities/<%=data[i].reply_account.id %>">
                                <%-data[i].reply_account.uname %>
                            </a>
                            ]
                        <% } %>
                        <%-data[i].content %>
                    </p>
                    <div class="op-line">
                        <span><%=data[i].ctime %></span>
                        <% if( data[i].own == 1 ) { %>
                            <a href="###" class="remove">删除</a>
                        <% } %>
                        <a href="###" class="reply">回复</a>
                    </div>
                    <form class="comment-form reply-form" data-comment-id="<%=data[i].id %>" data-account-id="<%-data[i].account.id %>">
                        <textarea class="content" placeholder="输入短评内容">&lt;/textarea>
                        <div class="btns-line">
                            <a href="###" class="clear">清空</a>
                            <input type="submit" class="btns submit small" value="发布" />
                        </div>
                    </form>
                </li>
            <% } %>
        </textarea>
        <textarea class="templates" id="post-list-tpl">
            <% if( !data.length ) { %>
                <li>
                    <p class="empty">
                        暂时没有最新论述动态
                    </p>
                </li>
            <% } else { %>
                <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                    <% var post = data[i]; %>
                    <li>
                        <% var postUrl = '/post/' + post.id; %>
                        <div class="posts clearfix" data-post-id="<%=post.id %>">
                            <div class="aside">
                                <span class="op-btn btns agree" data-action="vote" data-intent="1" data-need-signin="1">
                                    <b><%=post.data.agree %></b>
                                    <span>支持</span>
                                </span>
                                <span class="op-btn btns disagree" data-action="vote" data-intent="0" data-need-signin="1">
                                    <b><%=post.data.disagree %></b>
                                    <span>反对</span>
                                </span>
                                <span class="op-btn btns dark" data-action="share">分享</span>
                                <% if( post.own != 1 ) { %>
                                    <span class="op-btn btns <% if( post.mark != 1 ) { %>dark<% } %>" data-marked="<%-post.mark %>" data-action="mark" data-need-signin="1">收藏</span>
                                <% } %>
                                <span class="op-btn btns dark" data-action="to" data-need-signin="1">针对</span>
                            </div>
                            <div class="main">
                                <h2><a href="/post/<%=post.id %>"><%-post.title %></a></h2>
                                <div class="info">
                                    <div class="clearfix">
                                        <span class="aside">作者：</span>
                                        <a href="/user/activities/<%=post.account_id %>" class="main">
                                            <%-post.account.uname %>
                                            <%-post.account.desc %>
                                        </a>
                                    </div>
                                    <div class="clearfix">
                                        <span class="aside">话题：</span>
                                        <a href="/topic/<%=post.topic.id %>" class="main" >
                                            <%-post.topic.title%>
                                        </a>
                                    </div>
                                    <div class="clearfix">
                                        <span class="aside">发表：</span>
                                        <span class="main"><%=post.ctime.substr(0,10) %></span>
                                    </div>
                                </div>
                                <div class="contents rich-text">
                                    <p><%=post.content %></p>
                                </div>
                                <div class="bottom-line">
                                    <a href="javascript:void(0)" class="comments" data-cursor="0">
                                        论述有 <%-post.data.comments_cnt %> 条短评
                                    </a>
                                </div>
                            </div>
                            <div class="comment-box">
                                <ul class="comment-list"></ul>
                                <div class="btns load-more">点击加载更多短评</div>
                                <ul class="new-comment-list"></ul>
                                <form class="comment-form">
                                    <textarea class="content" placeholder="输入短评内容">&lt;/textarea>
                                    <div class="btns-line">

                                        <span class="hide btns dark small l">收起短评</span>
                                        <a href="###" class="clear">清空</a>
                                        <input type="submit" class="btns submit small" value="发布" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                <% } %>
            <% } %>
        </textarea>
        <script>
            var idizcuz = new J();
            idizcuz.mount( 'posts', '/static/homeMobile/packages/Posts/bootstrap.js?_t=1439490241566' );
            idizcuz.mount( 'operate', '/static/homeMobile/packages/PostOperate/bootstrap.js?_t=1439490241566', {
                signin : +'<?php echo $account ? 1 : 0; ?>'
            } );
            idizcuz.mount( 'comments', '/static/homeMobile/packages/Comments/bootstrap.js?_t=1439490241566', {
                signin : +'<?php echo $account ? 1 : 0; ?>'
            } );
        </script>
        <?php include TPL_PATH . '/commonMobile/end.inc.html'; ?>
    </body>
</html>
