<!DOCTYPE html>
<html>
    <head>
        <?php include TPL_PATH . '/commonMobile/head.inc.html'; ?>
        <link rel="stylesheet" href="/static/commonMobile/css/post.css?_t=1445195617401" />
    </head>
    <body>
        <?php $nav = 'activities'; ?>
        <div id="idizcuz">
            <?php include TPL_PATH . '/commonMobile/top.inc.html'; ?>
            <?php include TPL_PATH . '/commonMobile/nav.inc.html'; ?>
            <?php if( !$account ) { ?>
                <?php include TPL_PATH . '/accountMobile/signin.inc.html'; ?>
            <?php } ?>

            <div class="boxes">
                <ul class="post-list"></ul>
                <div class="btns load-more">点击加载更多</div>
            </div>
            <div class="dialog tip-dialog">
                <div class="wrap">
                    <div class="inner">
                        <p class="brand tip"></p>
                    </div>
                </div>
            </div>
            <div class="boxes bottom-fixed-bar">
                <a href="http://www.idizcuz.com" class="logo l">每日论点 • iDizcuz</a>
                <a href="###" class="item scroll-top"><i class="fa fa-eject"></i></a>
            </div>
            <?php include TPL_PATH . '/commonMobile/foot.inc.html'; ?>
        </div>
        <textarea class="templates" id="post-list-tpl">
            <% if( !data.length ) { %>
                <li class="empty">
                    暂时没有最新论述动态
                </li>
            <% } else { %>
                <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                    <% var post = data[i]; %>
                    <li><?php include TPL_PATH . '/commonMobile/post.inc.html'; ?></li>
                <% } %>
            <% } %>
        </textarea>
        <textarea class="templates" id="comment-list-tpl">
            <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                <% var comment = data[i]; %>                
                <?php include TPL_PATH . '/commonMobile/comment.inc.html'; ?>
            <% } %>
        </textarea>
        <script>
            var idizcuz = new J();
            idizcuz.mount( 'posts', '/static/homeMobile/packages/Posts/bootstrap.js?_t=1445195617374' );
            idizcuz.mount( 'operate', '/static/commonMobile/packages/PostOperate/bootstrap.js?_t=1445195617374', {
                signin : +'<?php echo $account ? 1 : 0; ?>'
            } );
            idizcuz.mount( 'comments', '/static/commonMobile/packages/Comments/bootstrap.js?_t=1445195617374', {
                signin : +'<?php echo $account ? 1 : 0; ?>'
            } );

            idizcuz.mount( 'bottomfixedbar', '/static/commonMobile/packages/BottomFixedBar/bootstrap.js?_t=1445195617374', {
                start : 500
            } );

            idizcuz.mount( 'share', '/static/commonMobile/packages/Share/bootstrap.js?_t=1445195617374' );

        </script>
        <?php include TPL_PATH . '/commonMobile/end.inc.html'; ?>
    </body>
</html>
