<!DOCTYPE html>
<html>
    <head>
        <?php include TPL_PATH . '/commonMobile/head.inc.html'; ?>
        <link rel="stylesheet" href="/static/settingsMobile/css/passwd.css?_t=1440163940776" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/commonMobile/top.inc.html'; ?>
            <?php include TPL_PATH . '/commonMobile/nav.inc.html'; ?>
            <?php if( !$account ) { ?>
                <div class="boxes tip">
                    <p>需要登录后才可以操作</p>
                </div>
                <?php include TPL_PATH . '/accountMobile/signin.inc.html'; ?>
            <?php } else { ?>
                <div class="boxes sub-nav">
                    <ul>
                        <li><a href="/settings">个人信息</a></li>
                        <li><a href="/settings/page/passwd" class="focus">密码</a></li>
                    </ul>
                </div>
                <div class="boxes">
                    <form class="passwd">
                        <input type="password" class="opasswd full" placeholder="当前密码" />
                        <input type="password" class="npasswd full" placeholder="新密码" />
                        <input type="password" class="rpasswd full" placeholder="重复新密码" />
                        <div class="btn-line">
                            <span class="submit-tip"></span>
                            <a href="###" class="btns submit">提交</a>
                        </div>
                    </form>
                </div>
                <?php include TPL_PATH . '/commonMobile/foot.inc.html'; ?>
                <script>
                    ( function() {
                        var submiting = false;
                        $( '.submit' ).on( 'click', function( e ) {
                            e.preventDefault();

                            if( submiting ) return false;

                            var tip = $( '.submit-tip' ),
                                opasswd = $( '.opasswd' ).val(),
                                npasswd = $( '.npasswd' ).val(),
                                rpasswd = $( '.rpasswd' ).val();

                            if( !opasswd.length ) {
                                tip.html( '请输入旧密码' );
                                return false;
                            }

                            if( !npasswd.length ) {
                                tip.html( '请输入新密码' );
                                return false;
                            }
                            if( npasswd.length > 20 || npasswd.length < 6 ) {
                                tip.html( '新密码长度在6~20字符之间' );
                                return false;
                            }

                            if( !rpasswd.length ) {
                                tip.html( '请输入确认密码' );
                                return false;
                            }

                            if( rpasswd != npasswd ) {
                                tip.html( '两次输入新密码不一致' );
                                return false;
                            }

                            if( opasswd == npasswd ) {
                                tip.html( '新密码和原密码一致' );
                                return false;
                            }
    
                            submiting = true;

                            $.ajax( {
                                url : '/settings/interface/passwd',
                                type : 'POST',
                                data : {
                                    opasswd : opasswd,
                                    npasswd : npasswd,
                                    'csrf-token' : $.fn.cookie( 'CSRF-TOKEN' )
                                },
                                success : function( response ) {
                                    var errno = +response.errno;
        
                                    submiting = false;

                                    switch( errno ) {
                                        case 0 :
                                            tip.html( '密码修改成功' );
                                            setTimeout( function() {
                                                location.reload();
                                            }, 500 );
                                            break;
                                        case 7 :
                                            tip.html( '当前密码输入不正确' ); 
                                            break;
                                        case 2 :
                                            tip.html( '提交参数错误' ); 
                                            break;
                                        case 3 :
                                            tip.html( '您当前没有登录' ); 
                                            location.href = '/signin';
                                            break; 
                                        default :
                                            tip.html( '未知错误，请稍候再试' ); 
                                            break;
                                    }
                                },
                                error : function() {
                                    submiting = false;
                                    tip.html( '操作失败，请确认网络状态正常' );
                                }
                            } );
                        } );
                    } )();
                </script>
            <?php } ?>
        </div>
        <?php include TPL_PATH . '/commonMobile/end.inc.html'; ?>
    </body>
</html>
