<!DOCTYPE html>
<html>
    <head>
        <?php 
            $title = '每日论点•iDizcuz';
        ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" href="/static/article/css/list.css?_t=1443146308744" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/common/top.inc.html'; ?>
            <div class="boxes body">
                <div class="inner">
                    <div class="aside">
                        <?php if( $account ) { ?>
                            <a href="/topic/<?php echo $topic['id']; ?>" class="btns large fullsize">查看所在论述</a>
                            <?php include TPL_PATH . '/common/userpages.inc.html'; ?>
                        <?php } else { ?>
                            <?php include TPL_PATH . '/common/signin.inc.html'; ?>
                        <?php } ?>
                    </div>
                    <div class="main">
                        <?php if( !empty( $topic ) ) { ?>
                            <div class="topic-area">
                                <h1>
                                    <a href="/topic/<?php echo $topic['id']; ?>" class="btns dark go r">回到话题</a>
                                    <a href="/topic/<?php echo $topic['id']; ?>"><span class="pos-tag">话题资料</span> <?php echo $topic['title']; ?></a>
                                </h1>
                            </div>
                        <?php } ?>
                        <ul class="article-list">
                            <?php foreach( $articles as $article ) { ?>
                                <li>
                                    <div class="articles clearfix">
                                        <?php if( $article['img'] ) { ?>
                                            <div class="aside">
                                                <a href="/article/<?php echo $article['id']; ?>" class="cover" style="background-image:url(http://topicstc.idizcuzz.com/<?php echo $article['img']; ?>);"></a>
                                            </div>
                                        <?php } ?>
                                        <div class="info main">
                                            <h2><a href="/article/<?php echo $article['id']; ?>"><?php echo htmlspecialchars( $article['title'] ); ?></a></h2>
                                            <p class="summary">
                                                <?php echo htmlspecialchars( $article['summary'] ); ?>
                                                <a href="/article/<?php echo $article['id']; ?>"> [详细]</a>
                                            </p>
                                            <p class="detail">
                                                <span class="time r">
                                                    <?php echo substr( $article['time'], 0, -9 ); ?>
                                                </span>
                                                <?php if( $article['origin'] ) { ?>
                                                    <span class="item">来源：<a href="<?php echo $article['origin_url']; ?>" target="_blank"><?php echo $article['origin']; ?></a></span>
                                                <?php } ?>
                                                <?php if( $article['author'] ) { ?>
                                                    <span class="item">作者：<?php echo $article['author']; ?></span>
                                                <?php } ?>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
            </div>
            <?php include TPL_PATH . '/common/foot.inc.html'; ?>
        </div>
        <?php include TPL_PATH . '/common/end.inc.html'; ?>
    </body>
</html>
