<!DOCTYPE html>
<html>
    <head>
        <?php $title='每日论点 • iDizcuz - 成为理性且有思想的人'; ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" href="/static/error/css/error.css?_t=1442062488081" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/common/top.inc.html'; ?>
            <div class="boxes">
                <div class="inner">
                    <div class="page-not-found">
                        <h3><b class="brand">404</b> - 找不到页面</h3> 
                        <p>您所访问的页面不存在</p>
                        <p>
                            <a href="/">回到首页</a>
                            <span>-</span>
                            <a href="/list">访问话题列表页</a>
                        </p>
                    </div>
                </div>
            </div>
            <?php include TPL_PATH . '/common/foot.inc.html'; ?>
        </div>
        <?php include TPL_PATH . '/common/end.inc.html'; ?>
    </body>
</html>
