<!DOCTYPE html>
<html>
    <head>
        <?php include TPL_PATH . '/commonMobile/head.inc.html'; ?>
        <link rel="stylesheet" href="/static/accountMobile/css/account.css?_t=1439388090309" />
    </head>
    <body>
        <div id="idizcuz">
            <div class="top boxes">
                <div class="sign">
                    <a href="/signin" class="r">登录</a>
                </div>
                <div class="logo-text brand">每日论点 • iDizcuz</div>
            </div>
            <?php include TPL_PATH . '/commonMobile/nav.inc.html'; ?>
            <div class="boxes sign">
                <form class="forget">
                    <div class="email-line">
                        <a href="###" class="btns send disabled">发送验证码</a>
                        <input type="text" class="email large" placeholder="邮箱" />
                    </div>
                    <input type="text" class="vcode large" placeholder="验证码" />
                    <div class="btn-line clearfix">
                        <input type="submit" class="btns small r" value="设置新密码" />
                    </div>
                    <div class="warn"></div>
                    <div class="tip">
                        请输入您的注册时实用的电子邮箱，点击“发送验证码“，登录您的电子邮箱获取系统邮件，并将收到的验证码填入表单
                        <span> | </span>
                        <a href="/signup">没有帐号</a>
                        <span> | </span>
                        <a href="/signin">帐号登录</a>
                    </div>
                </form>
            </div>
        </div>
        <script>
            var idizcuz = new J();
            idizcuz.mount( 'forget', '/static/accountMobile/packages/Forget/bootstrap.js?_t=1439388090275', {
                form : $( 'form.forget' )
            } );
        </script>
        <?php include TPL_PATH . '/commonMobile/end.inc.html'; ?>
    </body>
</html>
