<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>每日论点 • iDizcuz</title>
        <link rel="stylesheet" href="/static/commonMobile/css/base.css" />
        <link rel="stylesheet" href="/static/commonMobile/css/common.css" />
        <link rel="stylesheet" href="/static/accountMobile/css/account.css" />
    </head>
    <body>
        <div id="idizcuz">
            <div class="top boxes">
                <div class="sign">
                    <a href="/signup" class="to-signup r">注册</a>
                </div>
                <div class="logo-text">每日论点 • iDizcuz</div>
            </div>
            <div class="boxes sign">
                <form class="signin sign">
                    <input type="text" class="email large" placeholder="邮箱" />
                    <input type="password" class="passwd large" placeholder="密码" />
                    <div class="btn-line clearfix">
                        <a href="###" class="btns small r signin">登录</a>
                        <label>
                            <input type="checkbox" class="remember" /> 记住登录
                        </label>
                    </div>
                    <div class="tip">
                        请使用注册时使用的电子邮箱和密码登录
                        <br>
                        <a href="/signup">没有帐号</a>
                        <span> | </span>
                        <a href="/forget">忘记密码</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
