<!DOCTYPE html>
<html>
    <head>
        <?php include TPL_PATH . '/commonMobile/head.inc.html'; ?>
        <link rel="stylesheet" href="/static/accountMobile/css/account.css?_t=1439491131829" />
    </head>
    <body>
        <div id="idizcuz">
            <div class="top boxes">
                <div class="sign">
                    <a href="/signin" class="r">登录</a>
                </div>
                <div class="logo-text brand">每日论点 • iDizcuz</div>
            </div>
            <?php include TPL_PATH . '/commonMobile/nav.inc.html'; ?>
            <div class="boxes sign">
                <form class="signup sign">
                    <div class="email-line">
                        <a href="###" class="btns send disabled">发送验证码</a>
                        <input type="text" class="email large" placeholder="邮箱" />
                    </div>
                    <input type="text" class="uname large" placeholder="姓名" />
                    <input type="password" class="passwd large" placeholder="密码" />
                    <input type="text" class="vcode large" placeholder="验证码" />
                    <div class="btn-line clearfix">
                        <input type="submit" class="btns small r signup" value="注册" />
                    </div>
                    <div class="warn"></div>
                    <div class="tip">
                        输入电子邮箱地址，点击发送验证码，并输入姓名和登录密码。
                        登录到您的电子邮箱，将收到的注册验证码填入表单 
                        <span> | </span>
                        <a href="/signin">已有帐号</a>
                    </div>
                </form>
            </div>
            <?php include TPL_PATH . '/commonMobile/foot.inc.html'; ?>
        </div>
        <script>
            var idizcuz = new J();
            idizcuz.mount( 'signin', '/static/accountMobile/packages/Signup/bootstrap.js?_t=1439491131784', {
                form : $( 'form.signup' )
            } );
        </script>
        <?php include TPL_PATH . '/commonMobile/end.inc.html'; ?>
    </body>
</html>
