<!DOCTYPE html>
<html>
    <head>
        <?php include TPL_PATH . '/commonMobile/head.inc.html'; ?>
        <link rel="stylesheet" href="/static/articleMobile/css/article.css?_t=1445022411368" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/commonMobile/top.inc.html'; ?>
            <?php include TPL_PATH . '/commonMobile/nav.inc.html'; ?>
            <?php if( !$account ) { ?>
                <?php include TPL_PATH . '/accountMobile/signin.inc.html'; ?>
            <?php } ?>
            <div class="boxes article">
                <div class="hd">
                    <h1><?php echo htmlspecialchars( $article['title'] ); ?></h1>
                    <p class="info clearfix">
                        <span class="time r">
                            <?php echo substr( $article['time'], 0, -9 ); ?>
                        </span>
                        <?php if( $article['origin'] != '' ) { ?>
                            <span>来源：<a href="<?php echo $article['origin_url']; ?>" target="_blank"><?php echo $article['origin']; ?></a></span>
                        <?php } ?>
                        <?php if( $article['author'] != '' ) { ?>
                            <span>作者：<?php echo $article['author']; ?></span>
                        <?php } ?>
                    </p>
                </div>
                <?php if( $topic ) { ?>
                    <div class="topic-area">
                        <div class="title-line">
                            <span>内容所属话题：</span>
                            <a href="/topic/<?php echo $topic['id']; ?>" target="_blank">
                                <?php echo htmlspecialchars( $topic['title'] ); ?>
                            </a>
                            <a href="/topic/<?php echo $topic['id']; ?>" target="_blank" class="show-desc">[查看话题]</a>
                        </div>
                    </div>
                <?php } ?>
                <div class="content rich-text">
                    <?php echo $article['content']; ?>
                </div>
                <?php if( $topic ) { ?>
                    <div class="bridge">
                        <a href="/topic/<?php echo $topic['id']; ?>">参与话题：<?php echo $topic['title']; ?></a>
                    </div>
                <?php } ?>
            </div>
            <div class="boxes related-part">
                <ul>
                    <?php 
                        foreach( $related_articles as $related_article ) {
                            if( $related_article['id'] == $article['id'] ) continue;
                    ?>
                        <li>
                            <div class="articles">
                                <div class="top-line clearfix">
                                    <?php if( $related_article['img'] ) { ?>
                                        <div class="aside">
                                            <a href="/article/<?php echo $related_article['id']; ?>" class="cover" style="background-image:url(http://topicstc.idizcuzz.com/<?php echo $related_article['img']; ?>);"></a>
                                        </div>
                                    <?php } ?>
                                    <div class="info main">
                                        <h2><a href="/article/<?php echo $related_article['id']; ?>"><?php echo htmlspecialchars( $related_article['title'] ); ?></a></h2>
                                        <div class="detail">
                                            <span class="time r">
                                                <?php echo substr( $related_article['time'], 0, -9 ); ?>
                                            </span>
                                            <?php if( $related_article['origin'] ) { ?>
                                                <span class="item">来源：<a href="<?php echo htmlspecialchars( $related_article['origin_url'] ); ?>" target="_blank"><?php echo htmlspecialchars( $related_article['origin'] ); ?></a></span>
                                            <?php } ?>
                                            <?php if( $related_article['author'] ) { ?>
                                                <span class="item">作者：<?php echo htmlspecialchars( $related_article['author'] ); ?></span>
                                            <?php } ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <?php } ?>
                </ul>
            </div>
            <div class="boxes bottom-fixed-bar">
                <a href="http://www.idizcuz.com" class="logo l">每日论点 • iDizcuz</a>
                <a href="###" class="item share call-sharebox" data-share-title="<?php echo htmlspecialchars( $article['title'] ); ?>" data-share-link="http://www.idizcuz.com/article/<?php echo $topic['id']; ?>"><i class="fa fa-share-alt"></i></a>
                <a href="###" class="item scroll-top"><i class="fa fa-eject"></i></a>
            </div>

            <?php include TPL_PATH . '/commonMobile/foot.inc.html'; ?>
        </div>
        <script>
            var idizcuz = new J();
            idizcuz.mount( 'bottomfixedbar', '/static/commonMobile/packages/BottomFixedBar/bootstrap.js?_t=1445022411345', {
                start : 300 
            } );
            idizcuz.mount( 'share', '/static/commonMobile/packages/Share/bootstrap.js?_t=1445022411345' );
        </script>
        <?php include TPL_PATH . '/commonMobile/end.inc.html'; ?>
    </body>
</html>
