<!DOCTYPE html>
<html>
    <head>
        <?php include TPL_PATH . '/commonMobile/head.inc.html'; ?>
        <link rel="stylesheet" href="/static/articleMobile/css/list.css?_t=1444595695079" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/commonMobile/top.inc.html'; ?>
            <?php include TPL_PATH . '/commonMobile/nav.inc.html'; ?>
            <?php if( !$account ) { ?>
                <?php include TPL_PATH . '/accountMobile/signin.inc.html'; ?>
            <?php } ?>
            <?php if( !empty( $topic ) ) { ?>
                <div class="boxes topic clearfix">
                    <span>资料所属话题：</span>
                    <a href="/topic/<?php echo $topic['id']; ?>">
                        <?php echo $topic['title']; ?>
                    </a>
                </div>
            <?php } ?>
            <div class="boxes article">
                <ul class="article-list">
                </ul>
            </div>
            <?php include TPL_PATH . '/commonMobile/foot.inc.html'; ?>
        </div>
        <textarea class="templates" id="article-list-tpl">
            <% for( var i = 0, l = data.length; i < l; i += 1 ) { var article = data[i]; %>
                <li>
                    <div class="articles">
                        <div class="top-line clearfix">
                            <% if( article.img.length ) { %>
                                <div class="aside">
                                    <a href="/article/<%-article.id %>" class="cover" style="background-image:url(http://topicstc.idizcuzz.com/<%-article.img %>);"></a>
                                </div>
                            <% } %>
                            <div class="info main">
                                <h2><a href="/article/<%-article.id %>"><%-article.title %></a></h2>
                                <div class="detail">
                                    <span class="time r">
                                        <%-article.time.substr( 0, -9 ) %>
                                    </span>
                                    <% if( article.origin.length ) { %>
                                        <span class="item">来源：<a href="<%-article.origin_url %>" target="_blank"><%-article.origin %></a></span>
                                    <% } %>
                                    <% if( article.author.length ) { %>
                                        <span class="item">作者：<%-article.author %></span>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <a href="/article/<%-article.id %>" class="summary">
                            <%-article.summary %> <span class="view">[详细]</span>
                        </a>
                    </div>
                </li>
            <% } %>
        </textarea>
        <?php include TPL_PATH . '/commonMobile/end.inc.html'; ?>
        <script>
            new J().mount( 'topics_articles', '/static/articleMobile/packages/TopicArticles/bootstrap.js?_t=1444595695052', {
                topic_id : '<?php echo $topic['id']; ?>'
            } );
        </script>
    </body>
</html>
