<!DOCTYPE html>
<html>
    <head>
        <?php $title = 'iDizcuz Management Information System'; ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/mis/css/mis.css?_t=1442437931221" />
        <link rel="stylesheet" type="text/css" href="/static/mis/css/user.css?_t=1442437931221" />
    </head>
    <body>
        <div id="idizcuz">
            <?php $nav = 'bannedusers'; ?>
            <?php include TPL_PATH . '/mis/sidebar.inc.html'; ?>
            <div class="main">
            </div>
        </div>
    </body>
</html>
