<!DOCTYPE html>
<html>
    <head>
        <?php $title = 'iDizcuz Management Information System'; ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/mis/css/mis.css" />
        <link rel="stylesheet" type="text/css" href="/static/mis/css/eventList.css" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/mis/top.inc.html'; ?>
            <div class="main">
                <?php include TPL_PATH . '/mis/sidebar.inc.html'; ?>
                <div class="core">
                    <ul class="events-list">
                        <?php foreach( $events as $event ) { ?>
                        <li class="events" id="event-<?php echo $event['id']; ?>">
                            <div class="inner">
                                <div class="topline clearfix">
                                    <span class="r">
                                        Event ID : <?php echo $event['id']; ?>
                                    </span>
                                    <h3>
                                        <?php echo $event['title']; ?>
                                        <?php if( strlen( $event['tip'] ) ) { ?>
                                        <a href="###" title="<?php echo $event['tip']; ?>"><i class="fa fa-info-circle"></i></a>
                                        <?php } ?>
                                    </h3>
                                </div>
                                <div class="event-content">
                                    <div class="content">
                                        <?php echo $event['content']; ?>
                                    </div>
                                </div>
                                <div class="event-info">
                                    <img src="<?php echo $event['origin_logo']; ?>" class="origin_logo r" />
                                    <div class="line">
                                        <span class="s-title">事件时间：</span>
                                        <span><?php echo $event['time']; ?></span>
                                        <span class="s-title">添加时间：</span>
                                        <span><?php echo $event['ctime']; ?></span>
                                    </div>
                                    <div class="line">
                                        <span class="s-title">事件来源：</span>
                                        <span><?php echo $event['origin']; ?></span>
                                        <span class="s-title">事件来源地址：</span>
                                        <a href="<?php echo $event['origin_url']; ?>">
                                            <?php echo $event['origin_url']; ?>
                                        </a>
                                    </div>
                                    <div class="line">
                                        <span class="s-title">引用该事件的TOPIC：</span>
                                        <span><?php echo $event['topic_id']; ?></span>
                                    </div>
                                </div>
                                <div class="btn-line">
                                    <a href="###" class="btns edit">编辑</a>
                                </div>
                            </div>
                        </li>
                        <?php } ?>
                    </ul>
                </div>
            </div>
        </div>
    </body>
