<!DOCTYPE html>
<html>
    <head>
        <?php $title = 'iDizcuz Management Information System'; ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/mis/css/mis.css" />
        <link rel="stylesheet" type="text/css" href="/static/mis/css/newTopic.css" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/mis/top.inc.html'; ?>
            <div class="main">
                <?php include TPL_PATH . '/mis/sidebar.inc.html'; ?>
                <div class="core">
                    <form class="topic-form">
                        <label>
                            <p class="s-title">论点标题(120字字节，通常一个汉字占三个字节)：</p>
                            <input type="text" class="title" placeholder="论点标题" />
                        </label>
                        <div class="line clearfix">
                            <label>
                                <p class="s-title">类型：</p>
                                <div class="styled-select">
                                    <select class="type">
                                        <option value="0">讨论</option>
                                        <option value="1">辩论</option>
                                    </select>
                                </div>
                            </label>
                            <label>
                                <p class="s-title">分类：</p>
                                <div class="styled-select">
                                    <select class="cid">
                                        <option value="1">焦点话题</option>
                                    </select>
                                </div>
                            </label>
                            <label>
                                <p class="s-title">开始时间(无需自动发布则不添加时间)：</p>
                                <input type="date" class="start-date" />
                                <input type="time" class="start-time" />
                            </label>
                        </div>
                        <label>
                            <p class="s-title">话题介绍：</p>
                            <textarea class="desc"></textarea>
                        </label>
                        <div class="warn">dfjskfsal</div>
                        <label>
                            <a href="###" class="btns large save">保存</a>
                            <a href="###" class="btns dark large public">发布</a>
                        </label>
                    </form>
                </div>
            </div>
        </div>
        <script>
            ( function() {
                var showWarn = function( txt ) {
                    $( '.warn' ).html( txt ).show();
                };
                var submit = function( isPublic ) {
                    var title = $.trim( $('input.title' ).val() ),
                        byteLen = J.byteLen( title ),
                        desc,
                        data = {};

                    if( !title.length ) {
                        showWarn( '没有填写标题' );
                        return false;
                    }

                    if( byteLen > 120 ) {
                        showWarn( '标题长度超出了' + ( byteLen - 120 ) + '字节' );
                        return false;
                    }

                    desc = $.trim( $( 'textarea.desc' ).val() );

                    if( !desc.length ) {
                        showWarn( '没有填写论点介绍' );
                        return false;
                    }

                    $( '.warn' ).hide();

                    data = {
                        title : title,
                        desc : desc,
                        type : $( 'select.type' ).val(),
                        cid : $( 'select.cid' ).val()
                    };

                    isPublic && ( data.isPublic = 1 );

                    $.ajax( {
                        url : '/mis/interface/newtopic',
                        method : 'POST',
                        data : data
                    } ).done( function( response ) {
                        var errno = +response.errno;

                        if( !errno ) {
                            alert( '添加成功' );
                            //location.href = '/mis/page/topic?id=' + response.data.id;
                        }
                    } );


                };

                $( '.public' ).on( 'click', function( e ) {
                    if( !window.confirm( '确认填写无误，直接发布？' ) ) {
                        return false;
                    }

                    submit( true );
                } );
            } )();
        </script>
    </body>
</html>
