<!DOCTYPE html>
<html>
    <head>
        <?php $title = 'iDizcuz Management Information System'; ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/mis/css/mis.css?_t=1441661387349" />
        <link rel="stylesheet" type="text/css" href="/static/mis/css/report.css?_t=1441661387349" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/mis/sidebar.inc.html'; ?>
            <div class="main">
                <div class="account-part clearfix">
                    <div>
                        <span>举报人：</span>
                    </div>
                </div>
                <div class="target-account-part">
                </div>
                <div class="post-part">
                </div>
                <div class="operation-part">
                </div>
            </div>
        </div>
    </body>
</html>
