<!DOCTYPE html>
<html>
    <head>
        <?php $title = 'iDizcuz Management Information System'; ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/mis/css/mis.css?_t=1442088317854" />
        <link rel="stylesheet" type="text/css" href="/static/mis/css/reports.css?_t=1442088317854" />
    </head>
    <body>
        <?php $nav = 'report-' . $status; ?>
        <div id="idizcuz">
            <?php include TPL_PATH . '/mis/sidebar.inc.html'; ?>
            <div class="main">
                <?php if( count( $reports ) == 0 ) { ?>
                    <p class="empty">暂时没有数据</p>
                <?php } else { ?>
                    <ul class="report-list">
                        <?php foreach( $reports as $report ) { $post = $report['post']; ?>
                            <li class="reports" data-report-id="<?php echo $topic['id']; ?>">
                                <div class="inner">                            
                                    <div class="topline clearfix">
                                        <a href="/mis/page/report?id=<?php echo $report['id']; ?>" class="op detail r">详情</a>
                                        <span class="r ctime">
                                            <?php echo substr( $report['ctime'], 0, -3 ); ?>
                                        </span>
                                        <a href="/user/activities/<?php echo $report['account']['id']; ?>" class="account">
                                            <b>举报人：</b>
                                            <?php echo htmlspecialchars( $report['account']['uname'] ); ?>
                                        </a>
                                        <a href="/post/<?php echo $post['id']; ?>" class="post-title" target="_blank">
                                            <b>举报论述：</b>
                                            <?php echo htmlspecialchars( $post['title'] ); ?>
                                            <b class="deleted">已删除</b>
                                        </a>
                                        <?php $target_account = $report['target_account']; ?>
                                        <a href="/user/activities/<?php echo $target_account['id']; ?>" class="target_account">
                                            <b>发布者：</b>
                                            <?php echo htmlspecialchars( $target_account['uname'] ); ?>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        <?php } ?>
                    </ul>
                <?php } ?>
            </div>
        </div>
    </body>
</html>
