<?php 
    function focus( $page = null, $match = null ) {
        if( is_null( $page ) || is_null( $match ) ) return;
        if( $page == $match ) echo ' focus '; 
    }
?>
<div class="aside">
    <ul class="item-list">
        <li>
            <a href="/fms/page/index" class="l1"> FMS </a>
        </li>
        <li>
            <a href="###" class="l1">
                <i class="fa fa-plus-square"></i> 数据查看
            </a>
            <ul>
                <li>
                    <a href="###" class="items">
                        <i class="fa fa-level-up flip"></i> 当日数据
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="###" class="l1">
                <i class="fa fa-plus-square"></i> 话题管理
            </a>
            <ul>
                <li>
                    <a href="/mis/page/topic" class="topic">
                        <i class="fa fa-level-up flip"></i> 添加新话题
                    </a>
                </li>
                <li>
                    <a href="/mis/page/topics" class="topics">
                        <i class="fa fa-level-up flip"></i> 话题列表
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="###" class="l1">
                <i class="fa fa-plus-square"></i> 话题资料管理
            </a>
            <ul>
                <li>
                    <a href="/mis/page/article" class="article">
                        <i class="fa fa-level-up flip"></i> 添加话题资料
                    </a>
                </li>
                <li>
                    <a href="/mis/page/articles" class="articles">
                        <i class="fa fa-level-up flip"></i> 话题资料列表
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="###" class="l1">
                <i class="fa fa-plus-square"></i> 论述管理
            </a>
            <ul>
                <li>
                    <a href="/mis/page/post" class="items">
                        <i class="fa fa-level-up flip"></i> 论述搜索
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="###" class="l1">
                <i class="fa fa-plus-square"></i> 审核管理
            </a>
            <ul>
                <li>
                    <a href="###" class="items">
                        <i class="fa fa-level-up flip"></i> 待审核列表
                    </a>
                </li>
                <li>
                    <a href="###" class="items">
                        <i class="fa fa-level-up flip"></i> 已审核列表
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="###" class="l1">
                <i class="fa fa-plus-square"></i> 用户管理
            </a>
            <ul>
                <li>
                    <a href="/mis/page/user" class="items <?php focus( $nav, 'user' ); ?>">
                        <i class="fa fa-level-up flip"></i> 用户查找
                    </a>
                </li>
                <li>
                    <a href="/mis/page/renamerecords" class="items <?php focus( $nav, 'renamerecords' ); ?>">
                        <i class="fa fa-level-up flip"></i> 改名申请
                    </a>
                </li>
                <li>
            </ul>
        </li>
        <li>
            <a href="/mis/page/reports" class="items <?php focus( $nav, 'report' ); ?>">
                举报管理
            </a>
        </li>
    </ul>
    <script>
        ( function() {
            var pathname = location.pathname,
                focus = pathname.substr( pathname.lastIndexOf( '/' ) + 1 );

            $( '.sidebar .item-list .' + focus ).addClass( 'focus' );
        })();
    </script>
</div>
