<!DOCTYPE html>
<html>
    <head>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/mis/css/signin.css" />
    </head>
    <body>
        <div id="idizcuz">
            <form>
                <a href="http://www.idizcuz.com" class="logo-text">iDizcuz</a>
                <input type="text" placeholder="Email address" />
                <input type="password" placeholder="Password" />
                <a href="###" class="btns larger">Log in</a>
            </form>
        </div>
    </body>
</html>
