<!DOCTYPE html>
<html>
    <head>
        <?php $title = 'iDizcuz Management Information System'; ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/mis/css/mis.css" />
        <link rel="stylesheet" type="text/css" href="/static/mis/css/topicList.css" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/mis/top.inc.html'; ?>
            <div class="main">
                <?php include TPL_PATH . '/mis/sidebar.inc.html'; ?>
                <div class="core">
                    <ul class="topics-list">
                        <?php foreach( $topics as $topic ) { ?>
                        <li class="topics" id="topic-<?php echo $topic['id']; ?>">
                            <div class="inner">
                                <div class="topline clearfix">
                                    <a href="/mis/page/topic?id=<?php echo $topic['id']; ?>" class="op edit r">编辑</a>
                                    <a href="###" class="op detail r">详情</a>
                                    <span class="r">
                                        <?php echo $topic['ctime']; ?>
                                    </span>
                                    <h3>
                                        <?php echo $topic['title']; ?>
                                    </h3>
                                </div>
                                <div class="topic-content">
                                    <div class="content">
                                        <?php echo $topic['desc']; ?>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <?php } ?>
                    </ul>
                </div>
            </div>
        </div>
        <script>
            $( '.topics-list .detail' ).on( 'click', function( e ) {
                $( this ).parent().parent().find( '.topic-content' ).toggle();
            } );
        </script>
    </body>
</html>
