<!DOCTYPE html>
<html>
    <head>
        <?php $title = 'iDizcuz Management Information System'; ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/mis/css/mis.css" />
        <link rel="stylesheet" type="text/css" href="/static/mis/css/topics.css" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/mis/top.inc.html'; ?>
            <div class="main">
                <?php include TPL_PATH . '/mis/sidebar.inc.html'; ?>
                <div class="core">
                    <ul class="topics-list">
                        <?php foreach( $topics as $topic ) { ?>
                        <li class="topics" data-topic-id="<?php echo $topic['id']; ?>" id="topic-<?php echo $topic['id']; ?>">
                            <div class="inner">
                                <div class="topline clearfix">
                                    <a href="/mis/page/topic?id=<?php echo $topic['id']; ?>" class="op edit r">编辑</a>
                                    <a href="###" class="op detail">详情</a>
                                    <a href="###" class="public op" data-status="<?php echo $topic['data']['status']; ?>">
                                        <?php echo $topic['data']['status'] == 1 ? '取消发布' : '发布'; ?>
                                    </a>
                                    <span class="r ctime">
                                        <?php echo $topic['ctime']; ?>
                                    </span>
                                    <h3>
                                        <span class="seal seal-<?php echo $topic['data']['type']; ?>"></span>
                                        <?php echo $topic['title']; ?>
                                        <?php if( $topic['data']['status'] == 1 ) { ?>
                                            <a href="/topic/<?php echo $topic['id']; ?>" target="_blank">[查看]</a>
                                        <?php } ?>
                                    </h3>
                                </div>
                                <div class="topic-details">
                                    <div class="topic-content">
                                        <div class="content">
                                            <?php echo $topic['desc']; ?>
                                        </div>
                                    </div>
                                    <div class="topic-data">
                                        <span>论述数量：<b><?php echo $topic['data']['post_cnt']; ?></b></span>
                                        <span>支持总量：<b><?php echo $topic['data']['agree']; ?></b></span>
                                        <span>反对数量：<b><?php echo $topic['data']['agree']; ?></b></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <?php } ?>
                    </ul>
                </div>
            </div>
        </div>
        <script>
            $( '.topics-list .detail' ).on( 'click', function( e ) {
                $( this ).parent().parent().find( '.topic-details' ).toggle();
            } );
            $( '.topics-list .public' ).on( 'click', function( e ) {
                var self = $( this ),
                    topicEl = $( this ).closest( '.topics' ),
                    topicId = topicEl.attr( 'data-topic-id' ),
                    status = +$( this ).attr( 'data-status' );

                    $.ajax( {
                        url : '/mis/interface/publictopic',
                        method : 'POST',
                        data : {
                            id : topicId,
                            status : +!status,
                            'csrf-token' : $.cookie( 'CSRF-TOKEN' )
                        }
                    } ).done( function( response ) {
                        var errno = +response.errno;
                        if( !errno ) {
                            alert( '修改成功' );
                            self.html( status ? '发布' : '取消发布' );
                            self.attr( 'data-status', +!status );
                        }
                    } );
            } );

        </script>
    </body>
</html>
