<!DOCTYPE html>
<html>
    <head>
        <?php $title = 'Fragement Management System'; ?>
        <?php include TPL_PATH . '/common/head.inc.html'; ?>
        <link rel="stylesheet" type="text/css" href="/static/fms/css/fms.css?_t=1442481417377" />
    </head>
    <body>
        <div id="idizcuz">
            <?php include TPL_PATH . '/fms/top.inc.html'; ?>
            <div class="boxes crumb">
                <span>PC端首页</span>
                <span>&gt;</span>
                <span>Banner轮播图</span>
            </div>
            <div class="boxes form">
                <form>
                    <div class="block">
                        <div class="line clearfix copy-unit">
                            <div class="item l">
                                <p>图片地址：</p>
                                <input type="text" placeholder="输入图片地址" />
                            </div>
                            <div class="item l">
                                <p>图片链接：</p>
                                <input type="text" placeholder="输入图片链接" />
                            </div>
                            <a href="###" class="add">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
